<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.base.AdLockMapper">
    <resultMap id="AdLockResult" type="com.cisdi.pms.job.domain.base.AdLock">
        <id property="id" column="id" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="remark" column="remark" />
        <result property="status" column="status" />
    </resultMap>

    <!--通用表头-->
    <sql id="commonHeader">
        id as id,
        code as code,
        name as name,
        remark as remark;
        status as status
    </sql>

    <!--根据编码修改锁-->
    <update id="updateLockByCodeAndTenMin">
        update AD_LOCK
        set LOCK_EXT_DTTM_ATT01_VAL=now()
        where
            status = 'AP'
            <![CDATA[ and (LOCK_EXT_DTTM_ATT01_VAL is null or LOCK_EXT_DTTM_ATT01_VAL <= ADDDATE(NOW(),INTERVAL -10 minute)) ]]>
            and code = #{code}
    </update>

    <!--根据编码修改释放锁-->
    <update id="updateLockByCode">
        update AD_LOCK
        set LOCK_EXT_DTTM_ATT01_VAL = null
        where
            status = 'AP'
            and code = #{code}
    </update>

</mapper>
