<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.base.AdRoleMapper">
    <resultMap id="AdRoleResultMap" type="com.cisdi.pms.job.domain.base.AdRole">
        <id property="id" column="id" />
        <result property="adRoleId" column="adRoleId" />
        <result property="adRoleName" column="adRoleName" />
        <result property="adUserId" column="adUserId" />
        <result property="adExtId" column="adExtId" />
        <result property="extDef" column="extDef" />
    </resultMap>

    <!--根据角色id查询角色信息-->
    <select id="queryById" resultMap="AdRoleResultMap">
        select
            a.id as id,
            a.name as name,
            a.PARSE_ROLE_USER_DEF_EXT_ID as adExtId
        from
            ad_role a
        where
            a.id = #{roleId}
            and a.status = 'AP'
    </select>

    <!--根据角色id查询人员信息-->
    <select id="queryRoleUserByRoleId" resultType="String">
        select
            group_concat(a.ad_user_id) as adUserId
        from ad_role_user
        left join ad_user b on a.ad_user_id = b.id
        where
            a.ad_role_id = #{roleId}
            and a.status = 'AP'
            and b.status = 'AP'
    </select>

    <!--根据扩展id查询扩展信息-->
    <select id="queryExtMsgByExtId" resultType="String">
        select
            EXT_DEF as extDef
        from
            AD_EXT
        where
            id = #{adExtId}
    </select>

    <!--自定义sql查询-->
    <select id="queryPrjType" resultType="String">
        ${sql}
    </select>
</mapper>
