<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.base.AdUserMapper">
    <resultMap id="AdUserResultMap" type="com.cisdi.pms.job.domain.base.AdUser">
        <id property="id" column="id" />
        <result property="adUserId" column="adUserId" />
        <result property="name" column="name" />
        <result property="adUserName" column="adUserName" />
        <result property="num" column="num" />
    </resultMap>

    <!--根据用户id查询用户信息-->
    <select id="queryById" resultMap="AdUserResultMap">
        select
            id as id,
            id as adUserId,
            name as name,
            name as adUserName
        from
            ad_user
        where
            id = #{userId}
    </select>

    <!--查询系统所有人员信息-->
    <select id="queryAllUser" resultType="int">
        select count(*) as num from ad_user where status = 'AP';
    </select>

    <!--查询时间范围内登录系统的用户数-->
    <select id="queryWeekUserLoginNums" resultType="int">
        <![CDATA[ select count(*) from (select ad_user_id from main.ad_login where crt_dt >= #{startDate} and crt_dt <= #{endDate} group by ad_user_id ) a]]>
    </select>

    <!--查询系统上线以来所有登录次数 2022-11-22上线-->
    <select id="queryLoginNums" resultType="int">
        select count(*) as num from main.ad_login where crt_dt >= '2022-11-22 00:00:00'
    </select>

    <!--获取系统分管领导信息-->
    <select id="queryChargeUser" resultType="String">
        select AD_USER_ID from hr_dept where status = 'AP' and AD_USER_ID is not null GROUP BY AD_USER_ID ORDER BY AD_USER_ID asc
    </select>

    <!--获取分管领导时间范围内登录次数-->
    <select id="queryChargeUserLoginNums" resultMap="AdUserResultMap">
        select
            a.ad_user_id,
            ifnull(count(*),0) as num,
            (select name from main.ad_user where id = a.ad_user_id) as name
        from
            main.ad_login a
        where
            a.ad_user_id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
            and crt_dt >= #{startDate}
            <![CDATA[ and crt_dt <= #{endDate} ]]>
        group by a.ad_user_id
        order by a.ad_user_id asc
    </select>
</mapper>
