<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.base.AdUserMapper">
    <resultMap id="AdUserResultMap" type="com.cisdi.pms.job.domain.base.AdUser">
        <id property="id" column="id" />
        <result property="adUserId" column="adUserId" />
        <result property="name" column="name" />
        <result property="adUserName" column="adUserName" />
    </resultMap>

    <!--根据用户id查询用户信息-->
    <select id="queryById" resultMap="AdUserResultMap">
        select
            id as id,
            id as adUserId,
            name as name,
            name as adUserName
        from
            ad_user
        where
            id = #{userId}
    </select>

    <!--查询系统所有人员信息-->
    <select id="queryAllUser" resultType="int">
        select count(*) as num from ad_user where status = 'AP';
    </select>

    <!--查询时间范围内登录系统的用户数-->
    <select id="queryWeekUserLoginNums" resultType="int">
        <![CDATA[ select ad_user_id from main.ad_login where crt_dt >= #{startDate} and crt_dt <= #{endDate} group by ad_user_id ]]>
    </select>

    <!--查询系统上线以来所有登录次数 2022-11-22上线-->
    <select id="queryLoginNums" resultType="int">
        select count(*) as num from main.ad_login where crt_dt >= '2022-11-22 00:00:00'
    </select>
</mapper>
