<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.base.BaseYearMapper">
    <resultMap id="BaseYearResult" type="com.cisdi.pms.job.domain.base.BaseYear">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="ver" column="ver" />
        <result property="ts" column="ts" />
        <result property="createBy" column="createBy" />
        <result property="createDate" column="createDate" />
        <result property="lastUpdateBy" column="lastUpdateBy" />
        <result property="lastUpdateDate" column="lastUpdateDate" />
        <result property="status" column="status" />
        <result property="code" column="code" />
    </resultMap>

    <!--根据年份信息查询数据-->
    <select id="queryByYear" resultMap="BaseYearResult">
        select * from  base_year where status = 'ap' and code = #{year}
    </select>

    <!--新增-->
    <insert id="insert">
        insert into base_year (
            id,
            VER,
            TS,
            CRT_DT,
            CRT_USER_ID,
            LAST_MODI_DT,
            LAST_MODI_USER_ID,
            STATUS,
            CODE,
            NAME
        ) values (
            #{id},
            #{ver},
            #{ts},
            #{createDate},
            #{createBy},
            #{lastUpdateDate},
            #{lastUpdateBy},
            #{status},
            #{code},
            #{name}
        )
    </insert>

    <!--根据编码获取年份id-->
    <select id="queryIdByCode" resultType="String">
        select id from base_year where status = 'ap' and code = #{yearCode}
    </select>
</mapper>
