<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.base.BaseJobConfigMapper">
    <resultMap id="BaseJobConfigResult" type="com.cisdi.pms.job.domain.base.BaseJobConfig">
        <id property="id" column="id" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="status" column="status" />
        <result property="sysTrue" column="sysTrue" />
        <result property="remark" column="remark" />
    </resultMap>

    <!--通用表头查询-->
    <sql id="commonHeader">
        id as id,
        name as name,
        code as code,
        status as status,
        remark as remark,
        sys_true as sysTrue
    </sql>

    <!--根据定时任务编码获取详细信息-->
    <select id="getJobByCode" resultMap="BaseJobConfigResult">
        select
            <include refid="commonHeader" />
        from
            BASE_JOB_CONFIG
        where
            code = #{code}
    </select>
</mapper>
