<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.base.GrSetValueMapper">
    <resultMap id="GrSetValueResult" type="com.cisdi.pms.job.domain.base.GrSetValue">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>

    <!--根据父级编码查询信息-->
    <select id="getValueByGrSetValueCode" resultMap="GrSetValueResult">
        select a.id,a.name from gr_set_value a left join gr_set b on a.gr_set_id = b.id where b.code = #{code}
    </select>

    <!--根据id查询集合值-->
    <select id="getValueByIds" resultMap="GrSetValueResult">
        select a.id,a.name from gr_set_value a where id in ('${id}')
    </select>
</mapper>
