<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.base.PmExpTypeMapper">
    <resultMap id="PmExpTypeResult" type="com.cisdi.pms.job.domain.base.PmExpType">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>

    <!--通过id查询名称-->
    <select id="getFeeNameByIdArr" resultType="String">
        select group_concat(name) from PM_EXP_TYPE where id in
        <foreach collection="list" item="item" separator="," open="(" close=")" index="index">
            #{item}
        </foreach>
    </select>
</mapper>
