<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.bid.job.mapper.zhanJiang.CcEarlyWarningMapper">

    <insert id="insertRecord" parameterType="com.pms.bid.job.domain.zhanJiang.CcEarlyWarning">
        insert into CC_EARLY_WARNING (ID,
                                      VER,
                                      TS,
                                      CRT_DT,
                                      CRT_USER_ID,
                                      LAST_MODI_DT,
                                      LAST_MODI_USER_ID,
                                      STATUS,
                                      LK_WF_INST_ID,
                                      CODE,
                                      `NAME`,
                                      FAST_CODE,
                                      AD_USER_IDS)
        values (#{ccEarlyWarning.id},
                #{ccEarlyWarning.ver},
                #{ccEarlyWarning.ts},
                #{ccEarlyWarning.crtDt},
                #{ccEarlyWarning.crtUserId},
                #{ccEarlyWarning.lastModiDt},
                #{ccEarlyWarning.lastModiUserId},
                #{ccEarlyWarning.status},
                #{ccEarlyWarning.lkWfInstId},
                #{ccEarlyWarning.code},
                #{ccEarlyWarning.name},
                #{ccEarlyWarning.fastCode},
                #{ccEarlyWarning.adUserIds})
    </insert>

    <select id="selectByName" resultType="string">
        select id  from CC_EARLY_WARNING where `name` = #{message}
    </select>


</mapper>