<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.bid.job.mapper.zhanJiang.CcSpecialEquipPreVeMapper">
    <resultMap id="SpecialEquipPreVeResultMap" type="com.pms.bid.job.domain.process.SpecialEquipPreVe">
        <!--id-->
        <id property="id" column="ID"   />
        <!--版本-->
        <result property="ver" column="VER"   />
        <!--时间戳-->
        <result property="ts" column="TS"   />
        <!--创建人-->
        <result property="createBy" column="CRT_USER_ID"   />
        <!--创建时间-->
        <result property="createDate" column="CRT_DT"   />
        <!--上次修改人-->
        <result property="lastUpdateBy" column="LAST_UPDATE_BY"   />
        <!--上次修改时间-->
        <result property="lastUpdateDate" column="LAST_UPDATE_DATE"   />
        <!--单元工程id-->
        <result property="lkWfInstId" column="LK_WF_INST_ID"   />
        <!--单元工程名称-->
        <result property="ccPrjId" column="CC_PRJ_ID"   />
        <!--方案名称-->
        <result property="ccSpecialEquipInsCompany" column="CC_SPECIAL_EQUIP_INS_COMPANY"   />
        <!--责任单位-->
        <result property="ccSpecialEquipPlanArriveDate" column="CC_SPECIAL_EQUIP_PLAN_ARRIVE_DATE"   />
        <!--计划完成日期-->
        <result property="ccSpecialEquipActArriveDate" column="CC_SPECIAL_EQUIP_ACT_ARRIVE_DATE"   />
        <!--提前预警天数-->
        <result property="ccSpecialEquipPlanInstallDate" column="CC_SPECIAL_EQUIP_PLAN_INSTALL_DATE"   />
        <!--责任人-->
        <result property="adUserId" column="AD_USER_ID"   />
        <!--是否需要专家审核-->
        <result property="ccSpecialEquipActInstallDate" column="CC_SPECIAL_EQUIP_ACT_INSTALL_DATE"   />
        <!--备注-->
        <result property="ccSpecialEquipPlanUseDate" column="CC_SPECIAL_EQUIP_PLAN_USE_DATE"   />
        <!--时间差天数-->
        <result property="ccSpecialEquipPlanConNocDate" column="CC_SPECIAL_EQUIP_PLAN_CON_CON_DATE"   />
        <!--流程实例id-->
        <result property="ccSpecialEquipComlConNocDate" column="CC_SPECIAL_EQUIP_COML_CON_NOC_DATE"   />
        <result property="ccSpecialEquipSecValCheckDate" column="CC_SPECIAL_EQUIP_SEC_VAL_CHECK_DATE"   />
        <result property="ccSpecialEquipComlConRecAtts" column="CC_SPECIAL_EQUIP_COML_CON_REC_ATTS"   />
        <result property="ccSpecialEquipComlSecValRep" column="CC_SPECIAL_EQUIP_COML_SEC_VAL_REP"   />
        <result property="ccSpecialEquipPreGageCheckDate" column="CC_SPECIAL_EQUIP_PRE_GAGE_CHECK_DATE"   />
        <result property="ccSpecialEquipComlPreGageRep" column="CC_SPECIAL_EQUIP_COML_PRE_GAGE_REP"   />
        <result property="ccSpecialEquipInsQualityCert" column="CC_SPECIAL_EQUIP_INS_QUALITY_CERT"   />
        <result property="ccSpecialEquipPlanUseReg" column="CC_SPECIAL_EQUIP_PLAN_USE_REG"   />
        <result property="ccSpecialEquipPlanUseRegCert" column="CC_SPECIAL_EQUIP_PLAN_USE_REG_CERT"   />
        <result property="ccSpecialEquipInsStatus" column="CC_SPECIAL_EQUIP_INS_STATUS"   />
        <result property="ccSpecialEquipActUseReg" column="CC_SPECIAL_EQUIP_ACT_USE_REG"   />
        <result property="ccSpecialEquipConHeadId" column="CC_SPECIAL_EQUIP_CON_HEAD_ID"   />
        <result property="ccSpecialEquipRegProHeadId" column="CC_SPECIAL_EQUIP_REG_PRO_HEAD_ID"   />
        <result property="ccSpecialEquipSupervisorId" column="CC_SPECIAL_EQUIP_SUPERVISOR"   />
        <result property="ccSpecialEquipCanCheckAndAccDate" column="CC_SPECIAL_EQUIP_CAN_CHECK_AND_ACC_DATE"   />
        <result property="slippageWarningDays" column="SLIPPAGE_WARING_DAYS"   />
        <result property="lkWfInstId1" column="LK_WF_INST_ID_1"   />
        <result property="lkWfInstId2" column="LK_WF_INST_ID_2"   />
        <result property="lkWfInstId3" column="LK_WF_INST_ID_3"   />
        <result property="lkWfInstId4" column="LK_WF_INST_ID_4"   />
        <result property="ccPrjStructNodeId" column="CC_PRJ_STRUCT_NODE_ID"   />
        <result property="name" column="NAME"   />
        <result property="ccSpecialEquipFactoryNo" column="CC_SPECIAL_EQUIP_FACTORY_NO"   />
        <result property="ccSpecialEquipInsLocation" column="CC_SPECIAL_INS_LOCATION"   />
        <result property="ccSpecialEquipMedium" column="CC_SPECIAL_EQUIP_MEDIUM"   />
        <result property="ccSpecialEquipVolume" column="CC_SPECIAL_EQUIP_VOLUME"   />
        <result property="ccSpecialEquipPressure" column="CC_SPECIAL_EQUIP_PRESSURE"   />
    </resultMap>


    <update id="updateInstId1ById" >
        update cc_special_equip_pre_ve
        set
            LK_WF_INST_ID_1 = #{lkWfInstId1}
        where id = #{id}
    </update>
    <update id="updateInstId2ById">
        update cc_special_equip_pre_ve
        set
            LK_WF_INST_ID_2 = #{lkWfInstId2}
        where id = #{id}
    </update>

    <update id="updateInstId3ById">
        update cc_special_equip_pre_ve
        set
            LK_WF_INST_ID_3 = #{lkWfInstId3}
        where id = #{id}
    </update>
    <update id="updateInstId4ById">
        update cc_special_equip_pre_ve
        set
            LK_WF_INST_ID_4 = #{lkWfInstId4}
        where id = #{id}
    </update>

    <update id="updateInstIdById">
        update cc_special_equip_pre_ve
        set
            LK_WF_INST_ID = #{lkWfInstId}
        where id = #{id}
    </update>

    <!--    查询基本应填写数据-->
    <select id="queryBaseFillList" resultMap="SpecialEquipPreVeResultMap">
        SELECT T.*,M.AD_USER_ID
        from cc_special_equip_pre_ve T JOIN  cc_prj_member M on  T.CC_SPECIAL_EQUIP_CON_HEAD_ID = M.ID
        where  T.CC_SPECIAL_EQUIP_PLAN_ARRIVE_DATE &lt;= CURRENT_DATE
          AND  LK_WF_INST_ID_1 IS NULL
          AND T.CC_SPECIAL_EQUIP_CON_HEAD_ID IS NOT NULL
          AND  (T.CC_SPECIAL_EQUIP_PRESSURE IS NULL
                    OR T.CC_SPECIAL_EQUIP_VOLUME IS NULL
                    OR T.CC_SPECIAL_EQUIP_FACTORY_NO
                    OR T.CC_SPECIAL_EQUIP_ACT_ARRIVE_DATE IS NULL
                    OR T.CC_SPECIAL_EQUIP_PLAN_CON_NOC_DATE IS NULL
                    OR T.CC_SPECIAL_EQUIP_PLAN_INSTALL_DATE IS NULL
                    OR T.CC_SPECIAL_EQUIP_SEC_VAL_CHECK_DATE IS NULL
                    OR T.CC_SPECIAL_EQUIP_PRE_GAGE_CHECK_DATE IS NULL
                    OR T.CC_SPECIAL_EQUIP_PLAN_USE_DATE IS NULL
              )
    </select>
    <select id="queryConFillList" resultMap="SpecialEquipPreVeResultMap">
        SELECT T.*,M.AD_USER_ID from cc_special_equip_pre_ve T JOIN  cc_prj_member M on  T.CC_SPECIAL_EQUIP_CON_HEAD_ID = M.ID  where  T.LK_WF_INST_ID_2 IS NULL AND T.CC_SPECIAL_EQUIP_CON_HEAD_ID IS NOT NULL AND
        (
        (T.CC_SPECIAL_EQUIP_PLAN_CON_NOC_DATE &lt;=CURRENT_DATE AND (T.CC_SPECIAL_EQUIP_COML_CON_NOC_DATE IS NULL OR T.CC_SPECIAL_EQUIP_COML_CON_REC_ATTS IS NULL ))
        OR(T.CC_SPECIAL_EQUIP_PRE_GAGE_CHECK_DATE &lt;=CURRENT_DATE AND T.CC_SPECIAL_EQUIP_PRE_GAGE_CHECK_DATE IS NULL)
        OR (T.CC_SPECIAL_EQUIP_SEC_VAL_CHECK_DATE &lt;=CURRENT_DATE AND T.CC_SPECIAL_EQUIP_COML_SEC_VAL_REP IS NULL)
        OR (T.CC_SPECIAL_EQUIP_PLAN_INSTALL_DATE &lt;=CURRENT_DATE AND  T.CC_SPECIAL_EQUIP_ACT_INSTALL_DATE IS NULL)
        )
    </select>
    <select id="queryPlanUseRegFillList" resultMap="SpecialEquipPreVeResultMap">
        SELECT T.*,M.AD_USER_ID from cc_special_equip_pre_ve T JOIN  cc_prj_member M on  T.CC_SPECIAL_EQUIP_REG_PRO_HEAD_ID = M.ID  where    T.LK_WF_INST_ID_3 IS NULL AND T.CC_SPECIAL_EQUIP_REG_PRO_HEAD_ID IS NOT NULL AND
        (
        (T.CC_SPECIAL_EQUIP_PLAN_USE_DATE &lt;= DATE_ADD(CURRENT_DATE,INTERVAL 35 DAY) AND (T.CC_SPECIAL_EQUIP_INS_QUALITY_CERT IS NULL OR T.CC_SPECIAL_EQUIP_CAN_CHECK_AND_ACC_DATE IS NULL ))
        OR(T.CC_SPECIAL_EQUIP_PLAN_USE_DATE &lt;=DATE_ADD(CURRENT_DATE,INTERVAL 30 DAY) AND  T.CC_SPECIAL_EQUIP_PLAN_USE_REG IS NULL)
        )
    </select>

    <select id="queryComUseRegFillList" resultMap="SpecialEquipPreVeResultMap">
        SELECT T.*,M.AD_USER_ID from cc_special_equip_pre_ve T JOIN  cc_prj_member M on  T.CC_SPECIAL_EQUIP_REG_PRO_HEAD_ID = M.ID  where   T.LK_WF_INST_ID_4 IS NULL AND T.CC_SPECIAL_EQUIP_REG_PRO_HEAD_ID IS NOT NULL AND
        ( (T.CC_SPECIAL_EQUIP_PLAN_USE_REG &lt;=CURRENT_DATE AND T.CC_SPECIAL_EQUIP_ACT_USE_REG IS NULL)
        OR (T.CC_SPECIAL_EQUIP_ACT_USE_REG &lt;=CURRENT_DATE AND  T.CC_SPECIAL_EQUIP_PLAN_USE_REG_CERT IS NULL)
        )
    </select>

        <select id="queryBeOverdueList1" resultMap="SpecialEquipPreVeResultMap">
            SELECT T.*,M.AD_USER_ID from cc_special_equip_pre_ve T JOIN  cc_prj_member M on  T.CC_SPECIAL_EQUIP_SUPERVISOR_ID = M.ID
            where T.SLIPPAGE_WARNING_DAYS IS NOT NULL
              AND T.CC_SPECIAL_EQUIP_SUPERVISOR_ID IS NOT NULL
              AND  DATE_ADD(T.CC_SPECIAL_EQUIP_PLAN_ARRIVE_DATE,INTERVAL T.SLIPPAGE_WARNING_DAYS day)&lt;=CURRENT_DATE
              AND T.CC_SPECIAL_EQUIP_CON_HEAD_ID IS NOT NULL
              AND  (T.CC_SPECIAL_EQUIP_PRESSURE IS NULL
                        OR T.CC_SPECIAL_EQUIP_VOLUME IS NULL
                        OR T.CC_SPECIAL_EQUIP_FACTORY_NO
                        OR T.CC_SPECIAL_EQUIP_ACT_ARRIVE_DATE IS NULL
                        OR T.CC_SPECIAL_EQUIP_PLAN_CON_NOC_DATE IS NULL
                        OR T.CC_SPECIAL_EQUIP_PLAN_INSTALL_DATE IS NULL
                        OR T.CC_SPECIAL_EQUIP_SEC_VAL_CHECK_DATE IS NULL
                        OR T.CC_SPECIAL_EQUIP_PRE_GAGE_CHECK_DATE IS NULL
                        OR T.CC_SPECIAL_EQUIP_PLAN_USE_DATE IS NULL)
    </select>

    <select id="queryBeOverdueList2" resultMap="SpecialEquipPreVeResultMap">
        SELECT T.*,M.AD_USER_ID from cc_special_equip_pre_ve T JOIN  cc_prj_member M on  T.CC_SPECIAL_EQUIP_SUPERVISOR_ID = M.ID
        where T.SLIPPAGE_WARNING_DAYS IS NOT NULL
          AND T.CC_SPECIAL_EQUIP_SUPERVISOR_ID IS NOT NULL
          AND T.CC_SPECIAL_EQUIP_CON_HEAD_ID IS NOT NULL
          AND (
            (DATE_ADD(T.CC_SPECIAL_EQUIP_PLAN_CON_NOC_DATE,INTERVAL T.SLIPPAGE_WARNING_DAYS day) &lt;=CURRENT_DATE AND (T.CC_SPECIAL_EQUIP_COML_CON_NOC_DATE IS NULL OR T.CC_SPECIAL_EQUIP_COML_CON_REC_ATTS IS NULL ))
            OR(DATE_ADD(T.CC_SPECIAL_EQUIP_PRE_GAGE_CHECK_DATE,INTERVAL T.SLIPPAGE_WARNING_DAYS day) &lt;=CURRENT_DATE AND T.CC_SPECIAL_EQUIP_PRE_GAGE_CHECK_DATE IS NULL)
            OR (DATE_ADD(T.CC_SPECIAL_EQUIP_SEC_VAL_CHECK_DATE,INTERVAL T.SLIPPAGE_WARNING_DAYS day) &lt;=CURRENT_DATE AND T.CC_SPECIAL_EQUIP_COML_SEC_VAL_REP IS NULL)
            OR (DATE_ADD(T.CC_SPECIAL_EQUIP_PLAN_INSTALL_DATE,INTERVAL T.SLIPPAGE_WARNING_DAYS day) &lt;=CURRENT_DATE AND  T.CC_SPECIAL_EQUIP_ACT_INSTALL_DATE IS NULL)
        )

    </select>

</mapper>