<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.bid.job.mapper.zhanJiang.PressurePipelineMapper">
    <resultMap id="BaseResultMap" type="com.pms.bid.job.domain.zhanJiang.PressurePipeline" >
        <result column="ID" property="id" />
        <result column="VER" property="ver" />
        <result column="TS" property="ts" />
        <result column="IS_PRESET" property="isPreset" />
        <result column="CRT_DT" property="crtDt" />
        <result column="CRT_USER_ID" property="crtUserId" />
        <result column="LAST_MODI_DT" property="lastModiDt" />
        <result column="LAST_MODI_USER_ID" property="lastModiUserId" />
        <result column="STATUS" property="status" />
        <result column="LK_WF_INST_ID" property="lkWfInstId" />
        <result column="CODE" property="code" />
        <result column="NAME" property="name" />
        <result column="REMARK" property="remark" />
        <result column="FAST_CODE" property="fastCode" />
        <result column="ICON_FILE_GROUP_ID" property="iconFileGroupId" />
        <result column="YJW_PIPING_DESING_NAME" property="yjwPipingDesingName" />
        <result column="YJW_DRAWING_PIPELINE" property="yjwDrawingPipeline" />
        <result column="YJW_PIPING_NAME" property="yjwPipingName" />
        <result column="YJW_DIAMETER" property="yjwDiameter" />
        <result column="YJW_PIPING_LENGTH" property="yjwPipingLength" />
        <result column="YJW_DESIGN_PRESSURE" property="yjwDesignPressure" />
        <result column="YJW_MEDIUM" property="yjwMedium" />
        <result column="YJW_PIPING_LEVEL" property="yjwPipingLevel" />
        <result column="YJW_INSTALLATION_UNIT" property="yjwInstallationUnit" />
        <result column="YJW_CONSTRUCTION_NOTICE_TIME_PLAN" property="yjwConstructionNoticeTimePlan" />
        <result column="YJW_CONSTRUCTION_NOTICE_TIME_COMPLETE" property="yjwConstructionNoticeTimeComplete" />
        <result column="YJW_CONSTRUCTION_RECEIPT" property="yjwConstructionReceipt" />
        <result column="YJW_INSTALLATION_TIME_PLAN" property="yjwInstallationTimePlan" />
        <result column="YJW_INSTALLATION_TIME" property="yjwInstallationTime" />
        <result column="YJW_USAGE_TIME_PLAN" property="yjwUsageTimePlan" />
        <result column="YJW_USAGE_TIME" property="yjwUsageTime"/>
        <result column="YJW_REPORT_INSURANCE_TIME_PLAN" property="yjwReportInsuranceTimePlan" />
        <result column="YJW_REPORT_INSURANCE_TIME" property="yjwReportInsuranceTime" />
        <result column="YJW_REPORT_INSURANCE" property="yjwReportInsurance" />
        <result column="YJW_QUALIFIED_TIME_PLAN" property="yjwQualifiedTimePlan" />
        <result column="YJW_INSTITUTION_TIME" property="yjwInstitutionTime" />
        <result column="YJW_TEST_REPORT" property="yjwTestReport" />
        <result column="YJW_ACCEPTANCE_TIME_PLAN" property="yjwAcceptanceTimePlan" />
        <result column="YJW_ACCEPTANCE_TIME" property="yjwAcceptanceTime" />
        <result column="YJW_REPORT_PROGRESS" property="yjwReportProgress" />
        <result column="YJW_QUALIFIED_REPORT_TIME" property="yjwQualifiedReportTime" />
        <result column="YJW_QUALIFIED_REPORT" property="yjwQualifiedReport" />
        <result column="YJW_REGISTRATION_TIME" property="yjwRegistrationTime" />
        <result column="YJW_COMPLETE_REGISTRATION_TIME" property="yjwCompleteRegistrationTime" />
        <result column="YJW_PRESSURE_PIPELINE_ID" property="yjwPressurePipelineId" />
        <result column="YJW_DESIGN_TIME" property="yjwDesignTime" jdbcType="DATE" />
        <result column="YJW_CONSTRUCTION_MANAGER" property="yjwConstructionManager" />
        <result column="YJW_ACCEPTANCE_MANAGER" property="yjwAcceptanceManager" />
        <result column="YJW_FILLING_CYCLE" property="yjwFillingCycle" />
        <result column="YJW_TASK_1" property="yjwTask1" />
        <result column="YJW_TASK_1" property="yjwTask1" />
        <result column="YJW_TASK_2" property="yjwTask2" />
        <result column="YJW_TASK_3" property="yjwTask3" />
        <result column="YJW_TASK_4" property="yjwTask4" />
        <result column="YJW_TASK_5" property="yjwTask5" />
        <result column="YJW_TASK_6" property="yjwTask6" />
        <result column="YJW_TASK_7" property="yjwTask7" />
        <result column="YJW_TASK_8" property="yjwTask8" />
        <result column="YJW_TASK_9" property="yjwTask9" />
        <result column="YJW_TASK_10" property="yjwTask10" />
        <result column="YJW_TASK_11" property="yjwTask11" />
        <result column="YJW_TASK_12" property="yjwTask12" />
        <result column="YJW_TASK_13" property="yjwTask13" />
        <result column="YJW_TASK_14" property="yjwTask14" />
        <result column="YJW_TASK_15" property="yjwTask15" />
        <result column="YJW_TASK_16" property="yjwTask16" />
        <result column="YJW_TASK_17" property="yjwTask17" />
        <result column="YJW_TASK_18" property="yjwTask18" />
        <result column="YJW_TASK_19" property="yjwTask19" />
        <result column="SUPERVISE_USER_ID" property="superviseUserId"/>
        <result column="SLIPPAGE_WARNING_DAYS" property="warningDays"/>
    </resultMap>

    <resultMap id="reviewProgressMap" type="com.pms.bid.job.domain.zhanJiang.CcReviewProgress">
        <result column="ID" property="id"></result>
        <result column="YJW_CONTENT" property="content"></result>
        <result column="REVIEW_FILL_DATE_FR" property="fillDateFor"></result>
        <result column="REVIEW_FILL_DATE_TO" property="fillDateTo"></result>
        <result column="YJW_PRESSURE_PIPELINE_ID" property="pipelineId"></result>
        <result column="REVIEW_IS_FILLED" property="isFilled"></result>
    </resultMap>

    <sql id="Base_Column_List">
                ID,
                VER,
                TS,
                IS_PRESET,
                CRT_DT,
                CRT_USER_ID,
                LAST_MODI_DT,
                LAST_MODI_USER_ID,
                STATUS,
                LK_WF_INST_ID,
                CODE,
                NAME,
                REMARK,
                FAST_CODE,
                ICON_FILE_GROUP_ID,
                YJW_PIPING_DESING_NAME,
                YJW_DRAWING_PIPELINE,
                YJW_CONSTRUCTION_NOTICE_TIME_PLAN,
                YJW_PIPING_NAME,
                YJW_DIAMETER,
                YJW_PIPING_LENGTH,
                YJW_DESIGN_PRESSURE,
                YJW_MEDIUM,
                YJW_PIPING_LEVEL,
                YJW_INSTALLATION_UNIT,
                YJW_CONSTRUCTION_NOTICE_TIME_PLAN,
                YJW_CONSTRUCTION_NOTICE_TIME_COMPLETE,
                YJW_CONSTRUCTION_RECEIPT,
                YJW_INSTALLATION_TIME_PLAN,
                YJW_INSTALLATION_TIME,
                YJW_USAGE_TIME_PLAN,
                YJW_USAGE_TIME,
                YJW_REPORT_INSURANCE_TIME_PLAN,
                YJW_REPORT_INSURANCE_TIME,
                YJW_REPORT_INSURANCE,
                YJW_QUALIFIED_TIME_PLAN,
                YJW_INSTITUTION_TIME,
                YJW_TEST_REPORT,
                YJW_ACCEPTANCE_TIME_PLAN,
                YJW_ACCEPTANCE_TIME,
                YJW_REPORT_PROGRESS,
                YJW_QUALIFIED_REPORT_TIME,
                YJW_QUALIFIED_REPORT,
                YJW_REGISTRATION_TIME,
                YJW_COMPLETE_REGISTRATION_TIME,
                YJW_DESIGN_TIME,
                YJW_CONSTRUCTION_MANAGER,
                YJW_ACCEPTANCE_MANAGER,
                YJW_TASK_1,
                YJW_TASK_2,
                YJW_TASK_3,
                YJW_TASK_4,
                YJW_TASK_5,
                YJW_TASK_6,
                YJW_TASK_7,
                YJW_TASK_8,
                YJW_TASK_9,
                YJW_TASK_10,
                YJW_TASK_11,
                YJW_TASK_12,
                YJW_TASK_13,
                YJW_TASK_14,
                YJW_TASK_15,
                YJW_TASK_16,
                YJW_TASK_17,
                YJW_TASK_18,
                YJW_TASK_19,
                SLIPPAGE_WARNING_DAYS,
                SUPERVISE_USER_ID
    </sql>
    <insert id="insert">
        insert into yjw_review_progress (ID,YJW_PRESSURE_PIPELINE_ID,REVIEW_FILL_DATE_FR,REVIEW_FILL_DATE_TO,REVIEW_IS_FILLED,
                                         CRT_DT,LAST_MODI_DT,CRT_USER_ID,LAST_MODI_USER_ID,STATUS,VER)
        values (#{id},#{YJW_PRESSURE_PIPELINE_ID},#{start},#{end},#{review},#{createTime},#{lastModiDt},#{createBy},#{createBy},#{status},1)

    </insert>
    <update id="updateInstIdById">
        update yjw_pressure_pipeline
        set LK_WF_INST_ID = #{wfProcessInstanceId}
        where id = #{id}
    </update>
    <update id="updateTaskById">
        update yjw_pressure_pipeline
        <if test="number == 1">
           set  YJW_TASK_1 = #{taskId}
        </if>
        <if test="number == 2">
           set  YJW_TASK_2 = #{taskId}
        </if>
        <if test="number == 3">
           set  YJW_TASK_3= #{taskId}
        </if>
        <if test="number == 4">
           set  YJW_TASK_4 = #{taskId}
        </if>
        <if test="number == 5">
            set  YJW_TASK_5 = #{taskId}
        </if>
        <if test="number == 6">
            set  YJW_TASK_6= #{taskId}
        </if>
        <if test="number == 7">
            set  YJW_TASK_7 = #{taskId}
        </if>
        <if test="number == 8">
            set  YJW_TASK_8 = #{taskId}
        </if>
        <if test="number == 9">
            set  YJW_TASK_9 = #{taskId}
        </if>
        <if test="number == 10">
            set  YJW_TASK_10 = #{taskId}
        </if>
        <if test="number == 11">
            set  YJW_TASK_11 = #{taskId}
        </if>
        <if test="number == 12">
            set  YJW_TASK_12 = #{taskId}
        </if>
        <if test="number == 13">
            set  YJW_TASK_13 = #{taskId}
        </if>
        <if test="number == 14">
            set  YJW_TASK_14 = #{taskId}
        </if>
        <if test="number == 15">
            set  YJW_TASK_15 = #{taskId}
        </if>
        <if test="number == 16">
            set  YJW_TASK_16 = #{taskId}
        </if>
        <if test="number == 17">
            set  YJW_TASK_17 = #{taskId}
        </if>
        <if test="number == 18">
            set  YJW_TASK_18 = #{taskId}
        </if>
        <if test="number == 19">
            set  YJW_TASK_19 = #{taskId}
        </if>
        where Id = #{id}
    </update>
    <update id="updateFilling">
        update yjw_pressure_pipeline set YJW_FILLING_CYCLE = #{filling} where ID = #{id}
    </update>

    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from yjw_pressure_pipeline
    </select>
    <select id="selectUserByPrjId" resultType="java.lang.String">
        select
            AD_USER_ID
        from cc_prj_member where ID = #{id}
    </select>
    <select id="selectWfId" resultType="java.lang.String">
        select LK_WF_INST_ID from yjw_pressure_pipeline where ID = #{id}
    </select>
    <select id="selectDateByPipingId" resultType="java.util.Date">
        select YJW_FILL_DATE from yjw_review_progress order by YJW_FILL_DATE desc limit 1
    </select>

    <select id="selectContentByTime" resultType="java.util.Date">
        select  REVIEW_FILL_DATE_TO from yjw_review_progress where REVIEW_FILL_DATE_FR = #{start} and REVIEW_FILL_DATE_TO = #{end} and YJW_PRESSURE_PIPELINE_ID = #{id}
    </select>

    <select id="selectByPipelineId" resultMap="reviewProgressMap">
        select ID,REVIEW_IS_FILLED,REVIEW_FILL_DATE_TO,REVIEW_FILL_DATE_FR,YJW_CONTENT,YJW_PRESSURE_PIPELINE_ID  from yjw_review_progress where  YJW_PRESSURE_PIPELINE_ID = #{id}
    </select>


    <update id="updateReviewProgressFillDateTo">
        update yjw_review_progress set REVIEW_FILL_DATE_TO = #{fillDateTo} where id  = #{id}
    </update>

    <delete id="deleteReviewProgressFill">
        delete from yjw_review_progress  where id = #{id}
    </delete>
</mapper>