<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.process.orderManage.PoOrderSupplementReqMapper">
    <resultMap id="PoOrderSupplementReqResult" type="com.cisdi.pms.job.domain.process.orderManage.PoOrderSupplementReq">
        <id property="id" column="id" />
        <result property="poOrderSupplementReqId" column="poOrderSupplementReqId"/>
        <result property="projectIds" column="projectIds"/>
        <result property="projectId" column="projectId" />
    </resultMap>

    <!--查询所有已审批通过的流程信息-->
    <select id="queryAllAPData" resultMap="PoOrderSupplementReqResult">
        select
            id as poOrderSupplementReqId,
            pm_prj_ids as projectIds
        from
            PO_ORDER_SUPPLEMENT_REQ
        where
            status = 'AP'
        ORDER BY CRT_DT ASC
    </select>

    <!--根据补充协议id删除补充协议项目明细表数据-->
    <delete id="deletePrjDetailById">
        delete from PO_ORDER_SUPPLEMENT_REQ_PRJ_DETAIL where PO_ORDER_SUPPLEMENT_REQ_ID = #{poOrderSupplementReqId}
    </delete>

    <!--补充协议-项目明细-新增数据-->
    <insert id="insertPrjDetail">
        insert into PO_ORDER_SUPPLEMENT_REQ_PRJ_DETAIL (
            ID,
            VER,
            TS,
            CRT_DT,
            CRT_USER_ID,
            LAST_MODI_DT,
            LAST_MODI_USER_ID,
            STATUS,
            PO_ORDER_SUPPLEMENT_REQ_ID,
            PM_PRJ_ID
        ) values (
            #{id},
            '1',
            now(),
            now(),
            '0099250247095871681',
            now(),
            '0099250247095871681',
            'AP',
            #{poOrderSupplementReqId},
            #{projectId}
        )
    </insert>
</mapper>
