<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.weeklyReport.PmProgressWeeklyPrjProblemDetailMapper">
    <resultMap id="PmProgressWeeklyPrjProblemDetailResult" type="com.cisdi.pms.job.domain.weeklyReport.PmProgressWeeklyPrjProblemDetail">
        <id property="id" column="id" />
        <result property="pmProgressWeeklyPrjId" column="pmProgressWeeklyPrjId" />
        <result property="prjPushProblemTypeId" column="prjPushProblemTypeId" />
        <result property="prjPushProblemTypeName" column="prjPushProblemTypeName" />
        <result property="problemDescribe" column="problemDescribe" />
        <result property="projectId" column="projectId" />
        <result property="createDate" column="createDate" />
        <result property="createUserId" column="createUserId" />
        <result property="lastUpdateDate" column="lastUpdateDate" />
        <result property="lastUpdateUserId" column="lastUpdateUserId" />
        <result property="weekId" column="weekId" />
    </resultMap>

    <!--单表通用查询表头-->
    <sql id="commonHeader">
        id as id,
        PM_PROGRESS_WEEKLY_PRJ_ID as pmProgressWeeklyPrjId,
        PRJ_PUSH_PROBLEM_TYPE_ID as prjPushProblemTypeId,
        TEXT_REMARK_ONE as problemDescribe,
        PM_PRJ_ID as projectId,
        CRT_DT as createDate,
        CRT_USER_ID as createUserId,
        LAST_MODI_DT as lastUpdateDate,
        LAST_MODI_USER_ID as lastUpdateUserId,
        PM_PROGRESS_WEEKLY_ID as weekId
    </sql>

    <!--新增-->
    <insert id="insert">
        insert into PM_PROGRESS_WEEKLY_PRJ_PROBLEM_DETAIL (
            id,
            CRT_DT,
            CRT_USER_ID,
            PM_PROGRESS_WEEKLY_PRJ_ID,
            PRJ_PUSH_PROBLEM_TYPE_ID,
            TEXT_REMARK_ONE,
            PM_PRJ_ID
        ) values (
            #{id},
            now(),
            '0099250247095871681',
            #{pmProgressWeeklyPrjId},
            #{prjPushProblemTypeId},
            #{problemDescribe},
            #{projectId}
        )
    </insert>

    <!--查询某一个项目某一周的问题明细-->
    <select id="getListByWeeklyPrjId" resultMap="PmProgressWeeklyPrjProblemDetailResult">
        select
            <include refid="commonHeader" />
        from
            PM_PROGRESS_WEEKLY_PRJ_PROBLEM_DETAIL
        where
            status = 'AP'
            AND PM_PROGRESS_WEEKLY_PRJ_ID = (SELECT ID FROM PM_PROGRESS_WEEKLY_PRJ WHERE PM_PRJ_ID = #{projectId} and PM_PROGRESS_WEEKLY_ID = #{weekId} and status = 'AP')
    </select>

    <!--根据周项目id批量插入项目问题明细信息-->
    <insert id="insertProblemDetailBatchByWeekPrjId">
        <foreach collection="list" item="item" index="index" separator=";">
        insert into PM_PROGRESS_WEEKLY_PRJ_PROBLEM_DETAIL (
            id,
            TS,
            CRT_DT,
            CRT_USER_ID,
            STATUS,
            PM_PROGRESS_WEEKLY_PRJ_ID,
            PRJ_PUSH_PROBLEM_TYPE_ID,
            TEXT_REMARK_ONE,
            PM_PRJ_ID,
            PM_PROGRESS_WEEKLY_ID
        ) values (
            #{item.id},
            now(),
            now(),
            '0099250247095871681',
            'AP',
            #{weekPrjId},
            #{item.prjPushProblemTypeId},
            #{item.problemDescribe},
            #{item.projectId},
            #{item.weekId}
        )
        </foreach>
    </insert>

    <!--根据周项目id查询数据-->
    <select id="getByWeekPrjId" resultMap="PmProgressWeeklyPrjProblemDetailResult">
        select
            <include refid="commonHeader" />
        from
            PM_PROGRESS_WEEKLY_PRJ_PROBLEM_DETAIL
        where
            PM_PROGRESS_WEEKLY_PRJ_ID = #{weekPrjId}
    </select>

    <!--根据周项目id删除数据-->
    <delete id="deleteByWeekPrjId">
        delete from PM_PROGRESS_WEEKLY_PRJ_PROBLEM_DETAIL where PM_PROGRESS_WEEKLY_PRJ_ID = #{weekPrjId}
    </delete>

    <!--批量插入数据-->
    <insert id="insertBatch">
        <foreach collection="list" item="item" index="index" separator=";">
            insert into PM_PROGRESS_WEEKLY_PRJ_PROBLEM_DETAIL (
            id,
            CRT_DT,
            CRT_USER_ID,
            STATUS,
            PM_PROGRESS_WEEKLY_PRJ_ID,
            PRJ_PUSH_PROBLEM_TYPE_ID,
            TEXT_REMARK_ONE,
            PM_PRJ_ID,
            PM_PROGRESS_WEEKLY_ID
            ) values (
            #{item.id},
            #{item.createDate},
            #{item.createUserId},
            'AP',
            #{item.pmProgressWeeklyPrjId},
            #{item.prjPushProblemTypeId},
            #{item.problemDescribe},
            #{item.projectId},
            #{item.weekId}
            )
        </foreach>
    </insert>

    <!--通过传递的sql查询-->
    <select id="selectBySql" resultType="java.util.LinkedHashMap">
        ${sql}
    </select>

    <!--根据周项目id获取项目问题明细-->
    <select id="getPrjDescibleByPrjWeekId" resultType="String">
        select
            GROUP_CONCAT(CONCAT(b.name,':',a.TEXT_REMARK_ONE) SEPARATOR '\n')
        FROM
            pm_progress_weekly_prj_problem_detail a
        LEFT JOIN gr_set_value b on a.PRJ_PUSH_PROBLEM_TYPE_ID = b.id
        WHERE
            a.PM_PROGRESS_WEEKLY_PRJ_ID = #{weekPrjId} and a.status = 'ap'
    </select>
</mapper>
