<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.weeklyReport.PmProgressWeeklyPrjDetailMapper">

    <resultMap id="PmProgressWeeklyResult" type="com.cisdi.pms.job.domain.weeklyReport.PmProgressWeeklyPrjDetail">
        <id column="id" property="id"/>
        <result column="projectId" property="projectId"/>
        <result column="projectName" property="projectName"/>
        <result column="writeDate" property="writeDate"/>
        <result column="writeDateMin" property="writeDateMin"/>
        <result column="writeDateMax" property="writeDateMax"/>
        <result column="weatherStart" property="weatherStart"/>
        <result column="weatherCompleted" property="weatherCompleted"/>
        <result column="progress" property="progress"/>
        <result column="progressMin" property="progressMin"/>
        <result column="progressMax" property="progressMax"/>
        <result column="progressDescribe" property="progressDescribe"/>
        <result column="progressWeek" property="progressWeek"/>
        <result column="progressRemark" property="progressRemark"/>
        <result column="fileId" property="fileId"/>
        <result column="dataType" property="dataType"/>
        <result column="weekId" property="weekId"/>
        <result column="weekPrjId" property="weekPrjId"/>
        <result column="buttonType" property="buttonType"/>
        <result column="buttonStatus" property="buttonStatus"/>
        <result column="izWrite" property="izWrite"/>
        <result column="recordById" property="recordById"/>
        <result column="recordByName" property="recordByName"/>
        <result column="manageUserId" property="manageUserId"/>
        <result column="manageUserName" property="manageUserName"/>
        <result column="isSubmit" property="isSubmit"/>
    </resultMap>

    <select id="getPrjRecords" resultMap="PmProgressWeeklyResult">
        SELECT
        a.id,
        c.DATE AS writeDate,
        a.VISUAL_PROGRESS AS progress,
        a.VISUAL_PROGRESS_DESCRIBE AS progressDescribe,
        a.PROCESS_REMARK_TEXT AS progressWeek,
        a.TEXT_REMARK_ONE AS progressRemark,
        ifnull(b.SYS_TRUE,'1') AS weatherStart,
        ifnull(b.IZ_END,'0') AS weatherCompleted,
        a.AD_USER_ID AS recordById,
        (select name from ad_user where id = a.ad_user_id) AS recordByName,
        a.FILE_ID_ONE AS fileId,
        b.PM_PRJ_ID AS projectId,
        e.name AS projectName,
        c.id as weekId,
        e.name as projectName,
        d.AD_USER_ID as manageUserId,
        f.name as manageUserName,
        b.IZ_WRITE as izWrite
        FROM
        PM_PROGRESS_WEEKLY_PRJ_DETAIL a
        LEFT JOIN PM_PROGRESS_WEEKLY_PRJ b ON a.PM_PROGRESS_WEEKLY_PRJ_ID = b.id
        LEFT JOIN pm_progress_weekly c ON a.PM_PROGRESS_WEEKLY_ID = c.id
        LEFT JOIN PM_PRJ e on b.pm_prj_id = e.id
        left join (select ad_user_id,PM_PRJ_ID from pm_roster where post_info_id = '1633997482885255168' and ad_user_id is not null GROUP BY PM_PRJ_ID,ad_user_id) d on b.pm_prj_id = d.PM_PRJ_ID
        LEFT JOIN ad_user f ON d.AD_USER_ID = f.id
        WHERE
        a.STATUS = 'ap'
        AND b.STATUS = 'ap'
        AND c.STATUS = 'ap'
        <if test="weatherStart != null">
            and b.SYS_TRUE = #{weatherStart}
        </if>
        <if test="weatherCompleted != null">
            and b.IZ_END = #{weatherCompleted}
        </if>
        <if test="progressMin != null and progressMin != ''">
            and a.VISUAL_PROGRESS >= #{progressMin}
        </if>
        <if test="progressMax != null and progressMax != ''">
            <![CDATA[ and a.VISUAL_PROGRESS <= #{progressMax} ]]>
        </if>
        <if test="manageUserName != null and manageUserName != ''">
            and f.name like concat('%',#{manageUserName},'%')
        </if>
        <if test="projectId != null and projectId != ''">
            AND b.PM_PRJ_ID = #{projectId}
        </if>
        <if test="projectName != null and projectName != ''">
            AND e.name like concat('%',#{projectName},'%')
        </if>
        <if test="writeDateMin != null and writeDateMin != ''">
            and c.FROM_DATE >= #{writeDateMin}
        </if>
        <if test="writeDateMax != null and writeDateMax != ''">
            <![CDATA[ and c.TO_DATE <= #{writeDateMax} ]]>
        </if>
        <if test="weekId != '' and weekId != null">
            and c.id = #{weekId}
        </if>
        order by b.IZ_END asc,b.SYS_TRUE desc,b.PM_PRJ_ID desc
    </select>

    <!--根据开始结束日期查询周id-->
    <select id="getWeekIdByDate" resultType="String">
        select id from pm_progress_weekly where FROM_DATE = #{startDate} and TO_DATE = #{endDate}
    </select>

    <!--根据周id更新进度周报项目信息-->
    <update id="updatePrjWeekByWeekId">
        update PM_PROGRESS_WEEKLY_PRJ set IS_WEEKLY_REPORT_SUBMIT = 1 where PM_PROGRESS_WEEKLY_ID = #{weekId}
    </update>

    <!--根据周id更新本周周报明细提交状态-->
    <update id="updatePrjDetailWeekByWeekId">
        update PM_PROGRESS_WEEKLY_PRJ_DETAIL set IS_WEEKLY_REPORT_SUBMIT = 1 where PM_PROGRESS_WEEKLY_ID = #{weekId}
    </update>

    <!--形象进度工程周报-填报明细-新增-->
    <insert id="insertData">
        insert into PM_PROGRESS_WEEKLY_PRJ_DETAIL (
            ID,
            VER,
            TS,
            CRT_DT,
            CRT_USER_ID,
            LAST_MODI_DT,
            LAST_MODI_USER_ID,
            STATUS,
            PROCESS_REMARK_TEXT,
            DATE,
            TO_DATE,
            FILE_ID_ONE,
            PM_PROGRESS_WEEKLY_ID,
            TEXT_REMARK_ONE,
            VISUAL_PROGRESS,
            FROM_DATE,
            PM_PROGRESS_WEEKLY_PRJ_ID,
            VISUAL_PROGRESS_DESCRIBE,
            PM_PRJ_ID,
            SYS_TRUE,
            IZ_END,
            IS_WEEKLY_REPORT_SUBMIT
        ) values (
            #{id},
            #{ver},
            #{ts},
            #{crtDt},
            #{crtUserId},
            #{lastModiDt},
            #{lastModiUserId},
            #{status},
            #{progressWeek},
            #{writeDate},
            #{toDate},
            #{fileId},
            #{weekId},
            #{progressRemark},
            #{progress},
            #{fromDate},
            #{weekPrjId},
            #{progressDescribe},
            #{projectId},
            #{weatherStart},
            #{weatherCompleted},
            #{izSubmit}
        )
    </insert>

    <!--根据周id和项目id查询填报信息-->
    <select id="getLastWeekDateByPrj" resultMap="PmProgressWeeklyResult">
        SELECT
            ID as id,
            PROCESS_REMARK_TEXT as progressWeek,
            VISUAL_PROGRESS as progress,
            VISUAL_PROGRESS_DESCRIBE as progressDescribe
        FROM
            pm_progress_weekly_prj_detail
        WHERE
            PM_PROGRESS_WEEKLY_ID = #{weekId}
          AND STATUS = 'ap'
          AND pm_prj_id = #{projectId}
    </select>
</mapper>
