<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.weeklyReport.PmProgressWeeklyMapper">
    <resultMap id="PmProgressWeeklyResult" type="com.cisdi.pms.job.domain.weeklyReport.PmProgressWeekly">
        <id property="id" column="id" />
        <result property="date" column="date" />
        <result property="fromDate" column="fromDate" />
        <result property="toDate" column="toDate" />
        <result property="startDate" column="startDate" />
        <result property="endDate" column="endDate" />
    </resultMap>

    <!--根据开始结束日期查询周id-->
    <select id="getWeekIdByDate" resultType="String">
        select id from pm_progress_weekly where FROM_DATE = #{startDate} and TO_DATE = #{endDate} and status = 'AP'
    </select>

    <select id="queryDataById" resultMap="PmProgressWeeklyResult">
        select
            DATE_FORMAT(FROM_DATE,'%Y-%m-%d 00:00:00') as startDate,
            DATE_FORMAT(TO_DATE,'%Y-%m-%d 23:59:59') as endDate
        from
            pm_progress_weekly
        where
            id = #{weekId}
    </select>

    <!--获取上周weekId-->
    <select id="getLastWeekId" resultType="String">
        select id from pm_progress_weekly where FROM_DATE != #{startDate} and TO_DATE != #{endDate} AND id != #{weekId} and status = 'ap' order by FROM_DATE desc limit 1
    </select>

    <!--根据实体信息新增数据-->
    <insert id="createData">
        insert into PM_PROGRESS_WEEKLY (
            ID,
            VER,
            TS,
            CRT_DT,
            CRT_USER_ID,
            LAST_MODI_DT,
            LAST_MODI_USER_ID,
            STATUS,
            DATE,
            TO_DATE,
            FROM_DATE
        ) values (
            #{id},
            #{ver},
            #{ts},
            #{createDate},
            #{createUserId},
            #{lastUpdateDate},
            #{lastUpdateUserId},
            #{status},
            #{date},
            #{toDate},
            #{fromDate}
        )
    </insert>
</mapper>
