<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.bid.job.mapper.processInstance.WfNodeInstanceMapper">

    <!--节点实例创建-->
    <insert id="create">
        insert into WF_NODE_INSTANCE (
            ID,
            NAME,
            VER,
            WF_PROCESS_INSTANCE_ID,
            WF_NODE_ID,
            START_DATETIME,
            END_DATETIME,
            EFFECTIVE_ACT_ID,
            SEQ_NO,
            LK_WF_INST_ID,
            STATUS,
            CRT_DT,
            CRT_USER_ID,
            LAST_MODI_DT,
            LAST_MODI_USER_ID,
            IN_CURRENT_ROUND,
            TS,
            IS_CURRENT,
            WF_PROCESS_ID
        ) values (
            #{id},
            #{wfNodeInstanceName},
            #{ver},
            #{wfProcessInstanceId},
            #{wfNodeId},
            #{startDateTime},
            #{endDateTime},
            #{adActId},
            #{seqNo},
            #{wfProcessInstanceId},
            #{status},
            #{createDate},
            #{createBy},
            #{lastUpdateDate},
            #{lastUpdateBy},
            #{isCurrentRound},
            #{ts},
            #{isCurrent},
            #{wfProcessId}
        )
    </insert>

    <!--根据id修改数据-->
    <update id="updateById">
        update WF_NODE_INSTANCE
        <set>
            <if test="wfNodeInstanceName != null and wfNodeInstanceName != ''">
                NAME = #{wfNodeInstanceName},
            </if>
            <if test="ver != null and ver != ''">
                VER = #{ver},
            </if>
            <if test="wfProcessInstanceId != null and wfProcessInstanceId != ''">
                WF_PROCESS_INSTANCE_ID = #{wfProcessInstanceId},
            </if>
            <if test="wfNodeId != null and wfNodeId != ''">
                WF_NODE_ID = #{wfNodeId},
            </if>
            <if test="startDateTime != null and startDateTime != ''">
                START_DATETIME = #{startDateTime},
            </if>
            <if test="endDateTime != null and endDateTime != ''">
                END_DATETIME = #{endDateTime},
            </if>
            <if test="adActId != null and adActId != ''">
                EFFECTIVE_ACT_ID = #{adActId},
            </if>
            <if test="seqNo != null and seqNo != ''">
                SEQ_NO = #{seqNo},
            </if>
            <if test="wfProcessInstanceId != null and wfProcessInstanceId != ''">
                LK_WF_INST_ID = #{wfProcessInstanceId},
            </if>
            <if test="status != null and status != ''">
                STATUS = #{status},
            </if>
            <if test="createDate != null and createDate != ''">
                CRT_DT = #{createDate},
            </if>
            <if test="createBy != null and createBy != ''">
                CRT_USER_ID = #{createBy},
            </if>
            <if test="lastUpdateDate != null and lastUpdateDate != ''">
                LAST_MODI_DT = #{lastUpdateDate},
            </if>
            <if test="lastUpdateBy != null and lastUpdateBy != ''">
                LAST_MODI_USER_ID = #{lastUpdateBy},
            </if>
            <if test="isCurrentRound != null">
                IN_CURRENT_ROUND = #{isCurrentRound},
            </if>
            <if test="ts != null">
                TS = #{ts},
            </if>
            <if test="isCurrent != null">
                IS_CURRENT = #{isCurrent},
            </if>
            <if test="wfProcessId != null and wfProcessId != ''">
                WF_PROCESS_ID = #{wfProcessId},
            </if>
        </set>
        where
            id = #{id}
    </update>


    <select id="queryNodeInstanceId" resultType="string">
        select id from wf_node_instance where wf_process_INSTANCE_ID = #{processInstanceId} AND WF_NODE_ID = '1816078659061559296' AND IS_CURRENT = 1
    </select>

    <select id="queryYjwNodeInstanceId" resultType="string">
        select id from wf_node_instance where wf_process_INSTANCE_ID = #{processInstanceId} AND WF_NODE_ID = '1820723475472265216' AND IS_CURRENT = 1
    </select>
</mapper>