<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.notice.BaseThirdInterfaceMapper">
    <resultMap id="BaseThirdInterfaceResult" type="com.cisdi.pms.job.domain.notice.BaseThirdInterface">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="code" column="code" />
        <result property="sysTrue" column="sysTrue" />
        <result property="hostAdder" column="hostAdder" />
        <result property="url" column="url" />
        <result property="param" column="param" />
        <result property="method" column="method" />
        <result property="isSuccess" column="isSuccess" />
        <result property="successDate" column="successDate" />
        <result property="remark" column="remark" />
        <result property="ver" column="ver" />
        <result property="ts" column="ts" />
        <result property="createBy" column="createBy" />
        <result property="createDate" column="createDate" />
        <result property="lastUpdateBy" column="lastUpdateBy" />
        <result property="lastUpdateDate" column="lastUpdateDate" />
        <result property="status" column="status" />
        <result property="failNum" column="failNum" />
    </resultMap>

    <!--根据第三方接口编码查询接口是否启用-->
    <select id="getSysTrue" resultMap="BaseThirdInterfaceResult">
        select
            ifnull(max(SYS_TRUE),0) as sysTrue,
            any_value(HOST_ADDR) as hostAdder
        from
            BASE_THIRD_INTERFACE
        where
            STATUS = 'AP'
          AND CODE = #{interfaceCode}
    </select>

    <!--自动执行三方接口未执行成功的数据-->
    <select id="queryUnExecuteThird" resultMap="BaseThirdInterfaceResult">
        select
            id as id,
            VER as ver,
            TS as ts,
            CRT_DT as createDate,
            CRT_USER_ID as createBy,
            LAST_MODI_DT as lastUpdateDate,
            LAST_MODI_USER_ID as lastUpdateBy,
            STATUS as status,
            URL as url,
            TEXT_REMARK_ONE as param,
            REMARK_ONE as method,
            SYS_TRUE_ONE as isSuccess,
            FAIL_CT as failNum
        from
            BASE_THIRD_INTERFACE_DETAIL
        where
            status = 'AP'
            AND SYS_TRUE_ONE = 0
        <![CDATA[
            AND FAIL_CT <= 5
            AND CRT_DT <= DATE_SUB(NOW(),INTERVAL 10 MINUTE)
            AND CRT_DT >= DATE_SUB(NOW(),INTERVAL 1 DAY)
        ]]>
    </select>

    <!--获取该接口调用失败次数-->
    <select id="getFailNumsById" resultType="int">
        select FAIL_CT from BASE_THIRD_INTERFACE_DETAIL where id = #{interfaceId}
    </select>

    <!--根据id动态修改数据-->
    <update id="updateConditionById">
        update BASE_THIRD_INTERFACE_DETAIL
        <set>
            <if test="isSuccess != null">
                SYS_TRUE_ONE = #{isSuccess},
            </if>
            <if test="successDate != null and successDate != ''">
                SUBMIT_TIME = #{successDate},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="ts != null and ts != ''">
                ts = #{ts},
            </if>
            <if test="lastUpdateBy != null and lastUpdateBy != ''">
                LAST_MODI_USER_ID = #{lastUpdateBy},
            </if>
            <if test="lastUpdateDate != null and lastUpdateDate != ''">
                LAST_MODI_DT = #{lastUpdateDate},
            </if>
        </set>
        where
            id = #{id}
    </update>
</mapper>
