<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.notice.BaseThirdInterfaceMapper">
    <resultMap id="BaseThirdInterfaceResult" type="com.cisdi.pms.job.domain.notice.BaseThirdInterface">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="code" column="code" />
        <result property="sysTrue" column="sysTrue" />
        <result property="hostAdder" column="hostAdder" />
    </resultMap>

    <!--根据第三方接口编码查询接口是否启用-->
    <select id="getSysTrue" resultMap="BaseThirdInterfaceResult">
        select
            ifnull(max(SYS_TRUE),0) as sysTrue,
            HOST_ADDR as hostAdder
        from
            BASE_THIRD_INTERFACE
        where
            STATUS = 'AP'
          AND CODE = #{interfaceCode}
    </select>
</mapper>
