<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.notice.SmsWhiteListMapper">
    <resultMap id="SmsWhiteListResult" type="com.cisdi.pms.job.domain.notice.SmsWhiteList"></resultMap>

    <!--获取微信通知白名单-->
    <select id="getWxWhiteList" resultType="String">
        select b.code as userCode from SMS_WHITE_LIST a left join ad_user b on a.ad_user_id = b.id where find_in_set('1681142475974242304',MESSAGE_NOTIFY_TYPE_IDS);
    </select>
</mapper>
