<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.cisdipmswordtopdf.mapper.AdAttMapper">
    <resultMap id="AdAttResult" type="com.pms.cisdipmswordtopdf.model.AdAtt">
        <id property="id" column="id" />
        <result property="code" column="code" />
    </resultMap>

    <!--根据字段编码查询字段id-->
    <select id="getIdByCode" resultType="String">
        select id from ad_att where code = #{attCode}
    </select>
</mapper>
