<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.cisdipmswordtopdf.mapper.PoOrderReqMapper">
    <resultMap id="PoOrderReqResult" type="com.pms.cisdipmswordtopdf.model.PoOrderReq">
        <id property="id" column="id" />
        <id property="projectId" column="projectId" />
        <id property="projectName" column="projectName" />
        <id property="companyName" column="companyName" />
        <id property="companyId" column="companyId" />
        <id property="fileId" column="fileId" />
        <id property="isModel" column="isModel" />
        <id property="processInstanceId" column="processInstanceId" />
        <id property="createBy" column="createBy" />
        <id property="tableCode" column="tableCode" />
        <id property="colsCode" column="colsCode" />
        <id property="processId" column="processId" />
        <id property="contractTxt" column="contractTxt" />
        <id property="contractRevise" column="contractRevise" />
    </resultMap>

    <!--查询时间范围内发起的流程-->
    <select id="queryCreateProcessListByDate" resultType="String">
        <![CDATA[ select id from wf_process_instance
                  where status = 'AP' and WF_PROCESS_ID = '0099952822476409136' and START_DATETIME >= #{startTime} and START_DATETIME <= #{endTime} ]]>
    </select>

    <!--查询时间范围内分管领导审批的流程(12-分管领导审批)-->
    <select id="queryChargeCheckListByDate" resultType="String">
        SELECT
            WF_PROCESS_INSTANCE_ID
        FROM
            wf_node_instance
        WHERE
            STATUS = 'ap'
            AND WF_NODE_ID = '0099952822476409152'
            AND END_DATETIME >= #{startTime}
            <![CDATA[ AND END_DATETIME <= #{endTime} ]]>
    </select>

    <!--查询时间范围内总经理审批的流程-->
    <select id="queryLeaderCheckListByDate" resultType="String">
        SELECT
            WF_PROCESS_INSTANCE_ID
        FROM
            wf_node_instance
        WHERE
            STATUS = 'ap'
          AND WF_NODE_ID = '0099952822476409146'
          AND END_DATETIME >= #{startTime}
            <![CDATA[ AND END_DATETIME <= #{endTime} ]]>
    </select>

    <!--根据流程实例id查询流程信息-->
    <select id="queryListByInstanceId" resultMap="PoOrderReqResult">
        select
            '0099952822476409136' as processId,
            a.id as id,
            a.LK_WF_INST_ID as processInstanceId,
            a.CRT_USER_ID as createBy,
            'PO_ORDER_REQ' as tableCode,
            a.CUSTOMER_UNIT_ONE as companyId,
            (select name from pm_party where id = a.CUSTOMER_UNIT_ONE) as companyName,
            a.ATT_FILE_GROUP_ID as contractTxt,
            a.FILE_ID_ONE as contractRevise,
            a.YES_NO_THREE as isModel
        from
            po_order_req a
        where
            1 = 1
            and a.LK_WF_INST_ID in
            <foreach collection="list" index="index" item="item" close=")" open="(" separator=",">
                #{item}
            </foreach>
        order by a.CRT_DT desc
    </select>

    <!--通过某一个id查询合同签订信息并转pdf-->
    <select id="queryOneById" resultMap="PoOrderReqResult">
        select
            '0099952822476409136' as processId,
            a.id as id,
            a.LK_WF_INST_ID as processInstanceId,
            a.CRT_USER_ID as createBy,
            'PO_ORDER_REQ' as tableCode,
            a.CUSTOMER_UNIT_ONE as companyId,
            (select name from pm_party where id = a.CUSTOMER_UNIT_ONE) as companyName,
            a.ATT_FILE_GROUP_ID as contractTxt,
            a.FILE_ID_ONE as contractRevise,
            a.YES_NO_THREE as isModel
        from
            po_order_req a
        where
            id = #{id}
        order by a.CRT_DT desc
    </select>
</mapper>
