<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.bid.job.mapper.ru.AdUserMapper">

    <select id="selectUserByPrjMemberId" resultType="com.pms.bid.job.domain.ru.AdUser" parameterType="string">
        SELECT  u.id,u.`NAME`,u.EXTRA_INFO->>'$.openid' EXTRA_INFO from ad_user u,cc_prj_member m where m.id = #{memberId} and u.id  = m.AD_USER_ID
    </select>

    <select id="selectUserByPrjMemberIds" resultType="com.pms.bid.job.domain.ru.AdUser" parameterType="list">
        SELECT  u.id,u.`NAME`,u.EXTRA_INFO->>'$.openid' EXTRA_INFO
        from ad_user u,cc_prj_member m
        where  u.id  = m.AD_USER_ID
          and   m.id in <foreach collection="memberIds" open="(" item="memberId" close=")" separator=",">
            #{memberId}
        </foreach>
    </select>

    <select id="selectByWfProcessInstanceId" resultType="com.pms.bid.job.domain.ru.AdUser" parameterType="string">
        SELECT  au.*
        from  ad_role ar,ad_user au ,ad_role_user aru , wf_task wt ,ad_act aa
        where wt.WF_PROCESS_INSTANCE_ID = '1910219824916799488'
          and  ar.`code`='DESIGN_UNIT'
          and aa.`CODE` = 'Approve'
          AND  ar.ID = aru.AD_ROLE_ID
          and  aru.AD_USER_ID = wt.AD_USER_ID
          and  au.ID = wt.AD_USER_ID
          and  wt.ad_act_id = aa.id
        limit 0,1
    </select>

</mapper>