<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms.bid.job.mapper.ru.AdUserMapper">

    <select id="selectUserByPrjMemberId" resultType="com.pms.bid.job.domain.ru.AdUser" parameterType="string">
        SELECT  u.id,u.`NAME`,u.EXTRA_INFO->>'$.openid' EXTRA_INFO from ad_user u,cc_prj_member m where m.id = #{memberId} and u.id  = m.AD_USER_ID
    </select>


</mapper>