<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.project.PmRosterMapper">
    <resultMap id="PmRosterResult" type="com.cisdi.pms.job.domain.project.PmRoster">
        <id property="id" column="id" />
        <result property="customerUnitId" column="customerUnitId" />
        <result property="customerUnitName" column="customerUnitName" />
        <result property="projectId" column="projectId" />
        <result property="projectName" column="projectName" />
        <result property="hrDeptId" column="hrDeptId" />
        <result property="hrDeptName" column="hrDeptName" />
        <result property="postInfoId" column="postInfoId" />
        <result property="postInfoName" column="postInfoName" />
        <result property="adUserId" column="adUserId" />
        <result property="adUserName" column="adUserName" />
        <result property="ancestral" column="ancestral" />
        <result property="projectPost" column="projectPost" />
    </resultMap>

    <!--查询所有已批准数据-->
    <select id="selectPrjRosterNoWhere" resultMap="PmRosterResult">
        select
            b.name as projectName,
            c.name as adUserName,
            e.name as customerUnitName,
            d.name as postInfoName
        FROM
            pm_roster a
        LEFT JOIN pm_prj b on a.PM_PRJ_ID = b.id
        LEFT JOIN ad_user c on a.AD_USER_ID = c.id
        LEFT JOIN post_info d on a.POST_INFO_ID = d.id
        LEFT JOIN pm_party e on a.CUSTOMER_UNIT = e.id and e.IS_CUSTOMER = 1
        WHERE
            a.`STATUS` = 'ap'
          and b.`STATUS` = 'ap' and b.IZ_FORMAL_PRJ = 1 and b.PROJECT_SOURCE_TYPE_ID = '0099952822476441374'
    </select>

    <!--查询项目工程管理岗人员-->
    <select id="queryMangeUserByProject" resultType="String">
        select ad_user_id from pm_roster where pm_prj_id = #{projectId} and status = 'AP' and post_info_id = '1633997482885255168' and ad_user_id is not null
    </select>

    <!--根据项目id获取项目所有花名册岗位人员信息-->
    <select id="queryByProjectId" resultMap="PmRosterResult">
        select
            b.name as projectName,
            c.name as adUserName,
            e.name as customerUnitName,
            d.name as postInfoName,
            a.ad_user_id as adUserId
        FROM
            pm_roster a
        LEFT JOIN pm_prj b on a.PM_PRJ_ID = b.id
        LEFT JOIN ad_user c on a.AD_USER_ID = c.id
        LEFT JOIN post_info d on a.POST_INFO_ID = d.id
        LEFT JOIN pm_party e on a.CUSTOMER_UNIT = e.id and e.IS_CUSTOMER = 1
        WHERE
            a.`STATUS` = 'ap'
            and a.pm_prj_id = #{projectId}
    </select>
</mapper>
