<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.project.ProjectInventoryMapper">
    <resultMap id="ProjectInventoryResultMap" type="com.cisdi.pms.job.domain.project.ProjectInventory">
        <id property="id" column="id" />
        <result property="projectId" column="projectId" />
        <result property="buyMatterId" column="buyMatterId" />
        <result property="contractCategoryId" column="contractCategoryId" />
        <result property="materialInventoryTypeId" column="materialInventoryTypeId" />
        <result property="isInvolved" column="isInvolved" />
        <result property="fileMasterInventoryTypeId" column="fileMasterInventoryTypeId" />
        <result property="inventoryName" column="inventoryName" />
        <result property="wfProcessId" column="wfProcessId" />
        <result property="adAttId" column="adAttId" />
        <result property="adAttCode" column="adAttCode" />
    </resultMap>

    <!--查询项目资料清单-->
    <select id="queryProjectInventory" resultMap="ProjectInventoryResultMap">
        select
            id as id,
            PM_PRJ_ID as projectId,
            BUY_MATTER_ID as buyMatterId,
            CONTRACT_CATEGORY_ONE_ID as contractCategoryId,
            MATERIAL_INVENTORY_TYPE_ID as materialInventoryTypeId,
            IS_INVOLVED as isInvolved
        from
            PRJ_INVENTORY
        where
            status = 'AP'
            and IS_INVOLVED = 1
    </select>

    <!--根据流程id查询该流程所配置资料清单类型-->
    <select id="queryProInventory" resultMap="ProjectInventoryResultMap">
        select
            a.id as id,
            a.FILE_MASTER_INVENTORY_TYPE_ID as fileMasterInventoryTypeId,
            a.NAME as inventoryName,
            a.WF_PROCESS_ID as wfProcessId,
            a.AD_ENT_ATT_V_ID as adAttId,
            a.BUY_MATTER_ID as buyMatterId,
            c.code as adAttCode
        from
            MATERIAL_INVENTORY_TYPE a
        LEFT JOIN AD_ENT_ATT b on a.AD_ENT_ATT_V_ID = b.id
        left join ad_att c on b.AD_ATT_ID = c.id
        where
            a.status = 'AP'
            and a.WF_PROCESS_ID = #{processId}
    </select>
</mapper>
