<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.process.PmPostAppointMapper">
    <resultMap id="PmPostAppointMapperResult" type="com.cisdi.pms.job.domain.process.PmPostAppoint">
        <id property="id" column="id" />
        <result property="code" column="code" />
        <result property="ver" column="ver" />
        <result property="ts" column="ts" />
        <result property="createBy" column="createBy" />
        <result property="createDate" column="createDate" />
        <result property="lastUpdateBy" column="lastUpdateBy" />
        <result property="lastUpdateDate" column="lastUpdateDate" />
        <result property="status" column="status" />
        <result property="projectId" column="projectId" />
        <result property="investSourceId" column="investSourceId" />
        <result property="projectTotalInvest" column="projectTotalInvest" />
        <result property="projectTypeId" column="projectTypeId" />
        <result property="startDate" column="startDate" />
        <result property="customerUnitId" column="customerUnitId" />
        <result property="tenderModeId" column="tenderModeId" />
        <result property="projectSituation" column="projectSituation" />
        <result property="startRemark" column="startRemark" />
        <result property="startFile" column="startFile" />
        <result property="earlyConstructionPostUserId" column="earlyConstructionPostUserId" />
        <result property="landManagePostUserId" column="landManagePostUserId" />
        <result property="pipeChangePostUserId" column="pipeChangePostUserId" />
        <result property="planOperatePostUserId" column="planOperatePostUserId" />
        <result property="earlyEquipPostUserId" column="earlyEquipPostUserId" />
        <result property="costManagePostUserId" column="costManagePostUserId" />
        <result property="contractManagePostUserId" column="contractManagePostUserId" />
        <result property="equipCostPostUserId" column="equipCostPostUserId" />
        <result property="buyManagePostUserId" column="buyManagePostUserId" />
        <result property="designManagePostUserId" column="designManagePostUserId" />
        <result property="engineerManagerPostUserId" column="engineerManagerPostUserId" />
        <result property="collectAndRemovePostUserId" column="collectAndRemovePostUserId" />
        <result property="financeManagePostUserId" column="financeManagePostUserId" />
        <result property="deptId" column="deptId" />
    </resultMap>

    <sql id="commonHeader">
        ID AS id,
        VER AS ver,
        TS AS ts,
        LAST_MODI_DT AS lastUpdateDate,
        LAST_MODI_USER_ID AS lastUpdateBy,
        PM_PRJ_ID AS projectId,
        `STATUS` AS `status`,
        INVESTMENT_SOURCE_ID AS investSourceId,
        CRT_USER_ID AS createBy,
        PRJ_TOTAL_INVEST AS projectTotalInvest,
        PROJECT_TYPE_ID AS projectTypeId,
        CRT_DEPT_ID AS deptId,
        CRT_DT AS createDate,
        CUSTOMER_UNIT AS customerUnitId,
        PRJ_SITUATION AS projectSituation,
        START_REMARK AS startRemark,
        FILE_ID_ONE AS startFile,
        AD_USER_TWELVE_ID AS earlyConstructionPostUserId,
        AD_USER_THIRTEEN_ID AS landManagePostUserId,
        AD_USER_FOURTEEN_ID AS pipeChangePostUserId,
        AD_USER_FIFTEEN_ID AS planOperatePostUserId,
        AD_USER_SIXTEEN_ID AS earlyEquipPostUserId,
        AD_USER_EIGHTEEN_ID AS costManagePostUserId,
        AD_USER_NINETEEN_ID AS contractManagePostUserId,
        AD_USER_TWENTY_ID AS equipCostPostUserId,
        AD_USER_TWENTY_ONE_ID AS buyManagePostUserId,
        AD_USER_TWENTY_TWO_ID AS designManagePostUserId,
        AD_USER_TWENTY_THREE_ID AS engineerManagerPostUserId,
        AD_USER_TWENTY_FOUR_ID AS collectAndRemovePostUserId,
        AD_USER_TWENTY_FIVE_ID AS financeManagePostUserId,
        TENDER_MODE_ID AS tenderModeId,
        START_DATE AS startDate,
        LK_WF_INST_ID AS wfProcessInstanceId
    </sql>

    <!--根据实体记录id查询信息-->
    <select id="queryById" resultMap="PmPostAppointMapperResult">
        select
            <include refid="commonHeader" />
        from
            pm_post_appoint
        where
            id = #{id}
    </select>

    <!--根据项目id查询状态不是作废及作废中的数据-->
    <select id="queryListByProjectNotVD" resultMap="PmPostAppointMapperResult">
        select
            <include refid="commonHeader" />
        from
            pm_post_appoint
        where
            pm_prj_id = #{projectId}
            and status not in ('VD','VDING')
    </select>

    <!--新增-->
    <insert id="insert">
        insert into pm_post_appoint (
            ID,
            VER,
            TS,
            LAST_MODI_DT,
            LAST_MODI_USER_ID,
            LK_WF_INST_ID,
            PM_PRJ_ID,
            STATUS,
            INVESTMENT_SOURCE_ID,
            CRT_USER_ID,
            PRJ_TOTAL_INVEST,
            PROJECT_TYPE_ID,
            CRT_DEPT_ID,
            CRT_DT,
            CUSTOMER_UNIT,
            PRJ_SITUATION,
            START_REMARK,
            FILE_ID_ONE,
            AD_USER_TWELVE_ID,
            AD_USER_THIRTEEN_ID,
            AD_USER_FOURTEEN_ID,
            AD_USER_FIFTEEN_ID,
            AD_USER_SIXTEEN_ID,
            AD_USER_EIGHTEEN_ID,
            AD_USER_NINETEEN_ID,
            AD_USER_TWENTY_ID,
            AD_USER_TWENTY_ONE_ID,
            AD_USER_TWENTY_TWO_ID,
            AD_USER_TWENTY_THREE_ID,
            AD_USER_TWENTY_FOUR_ID,
            AD_USER_TWENTY_FIVE_ID,
            TENDER_MODE_ID,
            START_DATE
        ) values (
            #{id},
            #{ver},
            #{ts},
            #{lastUpdateDate},
            #{lastUpdateBy},
            #{wfProcessInstanceId},
            #{projectId},
            #{status},
            #{investSourceId},
            #{createBy},
            #{projectTotalInvest},
            #{projectTypeId},
            #{deptId},
            #{createDate},
            #{customerUnitId},
            #{projectSituation},
            #{startRemark},
            #{startFile},
            #{earlyConstructionPostUserId},
            #{landManagePostUserId},
            #{pipeChangePostUserId},
            #{planOperatePostUserId},
            #{earlyEquipPostUserId},
            #{costManagePostUserId},
            #{contractManagePostUserId},
            #{equipCostPostUserId},
            #{buyManagePostUserId},
            #{designManagePostUserId},
            #{engineerManagerPostUserId},
            #{collectAndRemovePostUserId},
            #{financeManagePostUserId},
            #{tenderModeId},
            #{startDate}
        )
    </insert>

    <!--根据id动态修改数据-->
    <update id="updateById">
        update pm_post_appoint
        <set>
            <if test="ver != null">
                VER = #{ver},
            </if>
            <if test="ts != null and ts != ''">
                TS = #{ts},
            </if>
            <if test="lastUpdateDate != null and lastUpdateDate != ''">
                LAST_MODI_DT = #{lastUpdateDate},
            </if>
            <if test="lastUpdateBy != null and lastUpdateBy != ''">
                LAST_MODI_USER_ID = #{lastUpdateBy},
            </if>
            <if test="wfProcessInstanceId != null and wfProcessInstanceId != ''">
                LK_WF_INST_ID = #{wfProcessInstanceId},
            </if>
            <if test="projectId != null and projectId != ''">
                PM_PRJ_ID = #{projectId},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="investSourceId != null and investSourceId != ''">
                INVESTMENT_SOURCE_ID = #{investSourceId},
            </if>
            <if test="projectTotalInvest != null and projectTotalInvest != ''">
                PRJ_TOTAL_INVEST = #{projectTotalInvest},
            </if>
            <if test="projectTypeId != null and projectTypeId != ''">
                PROJECT_TYPE_ID = #{projectTypeId},
            </if>
            <if test="customerUnitId != null and customerUnitId != ''">
                CUSTOMER_UNIT = #{customerUnitId},
            </if>
            <if test="projectSituation != null and projectSituation != ''">
                PRJ_SITUATION = #{projectSituation},
            </if>
            <if test="startRemark != null and startRemark != ''">
                START_REMARK = #{startRemark},
            </if>
            <if test="startFile != null and startFile != ''">
                FILE_ID_ONE = #{startFile},
            </if>
            <if test="earlyConstructionPostUserId != null and earlyConstructionPostUserId != ''">
                AD_USER_TWELVE_ID = #{earlyConstructionPostUserId},
            </if>
            <if test="landManagePostUserId != null and landManagePostUserId != ''">
                AD_USER_THIRTEEN_ID = #{landManagePostUserId},
            </if>
            <if test="pipeChangePostUserId != null and pipeChangePostUserId != ''">
                AD_USER_FOURTEEN_ID = #{pipeChangePostUserId},
            </if>
            <if test="planOperatePostUserId != null and planOperatePostUserId != ''">
                AD_USER_FIFTEEN_ID = #{planOperatePostUserId},
            </if>
            <if test="earlyEquipPostUserId != null and earlyEquipPostUserId != ''">
                AD_USER_SIXTEEN_ID = #{earlyEquipPostUserId},
            </if>
            <if test="costManagePostUserId != null and costManagePostUserId != ''">
                AD_USER_EIGHTEEN_ID = #{costManagePostUserId},
            </if>
            <if test="contractManagePostUserId != null and contractManagePostUserId != ''">
                AD_USER_NINETEEN_ID = #{contractManagePostUserId},
            </if>
            <if test="equipCostPostUserId != null and equipCostPostUserId != ''">
                AD_USER_TWENTY_ID = #{equipCostPostUserId},
            </if>
            <if test="buyManagePostUserId != null and buyManagePostUserId != ''">
                AD_USER_TWENTY_ONE_ID = #{buyManagePostUserId},
            </if>
            <if test="designManagePostUserId != null and designManagePostUserId != ''">
                AD_USER_TWENTY_TWO_ID = #{designManagePostUserId},
            </if>
            <if test="engineerManagerPostUserId != null and engineerManagerPostUserId != ''">
                AD_USER_TWENTY_THREE_ID = #{engineerManagerPostUserId},
            </if>
            <if test="collectAndRemovePostUserId != null and collectAndRemovePostUserId != ''">
                AD_USER_TWENTY_FOUR_ID = #{collectAndRemovePostUserId},
            </if>
            <if test="financeManagePostUserId != null and financeManagePostUserId != ''">
                AD_USER_TWENTY_FIVE_ID = #{financeManagePostUserId},
            </if>
            <if test="tenderModeId != null and tenderModeId != ''">
                TENDER_MODE_ID = #{tenderModeId},
            </if>
            <if test="startDate != null and startDate != ''">
                START_DATE = #{startDate},
            </if>
        </set>
        where
            id = #{id}
    </update>
</mapper>
