<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.process.PoOrderReqMapper">
    <resultMap id="PoOrderReqResult" type="com.cisdi.pms.job.domain.process.PoOrderReq">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="projectId" column="projectId" />
        <result property="projectName" column="projectName" />
        <result property="companyName" column="companyName" />
        <result property="companyId" column="companyId" />
        <result property="fileId" column="fileId" />
        <result property="isModel" column="isModel" />
        <result property="processInstanceId" column="processInstanceId" />
        <result property="createBy" column="createBy" />
        <result property="customerUnitId" column="customerUnitId" />
        <result property="contractCategoryId" column="contractCategoryId" />
        <result property="contractAmt" column="contractAmt" />
    </resultMap>

    <!--根据合同id数组查询合同名称-->
    <select id="getContractNameByIdArr" resultType="String">
        select group_concat(name) from po_order_req where id in
            <foreach collection="list" item="item" separator="," open="(" close=")" index="index">
                #{item}
            </foreach>
    </select>

    <!--查询所有历史导入数据-->
    <select id="queryHistoryImport" resultMap="PoOrderReqResult">
        select
            id as id,
            CUSTOMER_UNIT_ONE as customerUnitId,
            CONTRACT_CATEGORY_ONE_ID as contractCategoryId
        from
            po_order_req
        where
            status = 'AP'
            and IS_IMPORT = 1
    </select>

    <!--查询所有合同签订数量-->
    <select id="queryOrderNums" resultType="int">
        select count(*) as num from po_order_req where status = 'ap' and CRT_DT >= '2022-11-22 00:00:00'
    </select>

    <!--查询时间范围内新签订的合同总金额-刨除历史数据导入-->
    <select id="queryTimeFrameNewOrderAmt" resultMap="PoOrderReqResult">
        select
            ifnull(AMT_TWO,0) as contractAmt
        from
            po_order_req
        where
            status not in ('VD','VDING')
            and CRT_DT >= '2022-11-22 00:00:00'
            and (IS_IMPORT is null or IS_IMPORT = 0)
            and CRT_DT >= #{startDate}
            <![CDATA[ AND CRT_DT <= #{endDate} ]]>
    </select>

    <!--修改合同数据表合同签订公司、合同类型-->
    <update id="updatePoOrderCustomerUnit">
        update po_order
        set
            CUSTOMER_UNIT = #{customerUnitId},
            CONTRACT_CATEGORY_ONE_ID = #{contractCategoryId}
        where
            CONTRACT_APP_ID = #{poOrderReqId}
    </update>
</mapper>
