<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.process.WfProcessInstanceWXMapper">
    <resultMap id="WfProcessInstanceResult" type="com.cisdi.pms.job.domain.process.WfProcessInstanceWX">
        <id property="id" column="id" />
        <result property="userId" column="userId" />
        <result property="userCode" column="userCode" />
        <result property="wfProcessInstanceName" column="wfProcessInstanceName" />
        <result property="wfProcessInstanceId" column="wfProcessInstanceId" />
        <result property="taskId" column="taskId" />
        <result property="taskType" column="taskType" />
        <result property="entityRecordId" column="entityRecordId" />
        <result property="processName" column="processName" />
        <result property="processId" column="processId" />
        <result property="viewId" column="viewId" />
        <result property="sum" column="sum" />
    </resultMap>

    <!--查询符合条件的紧急流程-->
    <select id="getAllUrgeList" resultMap="WfProcessInstanceResult">
        SELECT
            t.AD_USER_ID as userId,
            pi.id as wfProcessInstanceId,
            pi.NAME as  wfProcessInstanceName,
            u.CODE as  userCode,
            pi.IS_URGENT,
            t.`WF_TASK_TYPE_ID` as taskType,
            f.name as processName,
            pi.CURRENT_VIEW_ID as viewId,
            pi.wf_process_id as processId,
            pi.ENTITY_RECORD_ID as entityRecordId,
            t.id as taskId
        FROM
            wf_task t
        LEFT JOIN wf_node_instance ni ON t.WF_NODE_INSTANCE_ID = ni.id
        LEFT JOIN wf_node n ON ni.WF_NODE_ID = n.id
        LEFT JOIN wf_process_instance pi ON ni.WF_PROCESS_INSTANCE_ID = pi.id
        LEFT JOIN ad_user u ON t.AD_USER_ID = u.id
        LEFT JOIN wf_process f on ni.WF_PROCESS_ID = f.id
        WHERE
            t.IS_CLOSED = 0
            AND t.STATUS = 'AP'
            AND NOT EXISTS ( SELECT 1 FROM ad_remind_log l WHERE l.ent_code = 'WF_TASK' AND l.ENTITY_RECORD_ID = t.id )
            AND pi.IS_URGENT = '1'
            AND t.AD_USER_ID NOT IN ( SELECT AD_USER_ID FROM sms_white_list )
<!--            AND t.AD_USER_ID = '1655396520176074752'-->
    </select>

    <!--查询待发送政务微信的紧急消息代办-->
    <select id="getAllWaitUrgeList" resultMap="WfProcessInstanceResult">
        SELECT
            t.AD_USER_ID as userId,
            pi.id as wfProcessInstanceId,
            pi.NAME as  wfProcessInstanceName,
            u.CODE as  userCode,
            pi.IS_URGENT,
            t.`WF_TASK_TYPE_ID` as taskType,
            f.name as processName,
            pi.CURRENT_VIEW_ID as viewId,
            pi.wf_process_id as processId,
            pi.ENTITY_RECORD_ID as entityRecordId,
            t.id as taskId
        FROM
            wf_task t
        LEFT JOIN wf_node_instance ni ON t.WF_NODE_INSTANCE_ID = ni.id
        LEFT JOIN wf_node n ON ni.WF_NODE_ID = n.id
        LEFT JOIN wf_process_instance pi ON ni.WF_PROCESS_INSTANCE_ID = pi.id
        LEFT JOIN ad_user u ON t.AD_USER_ID = u.id
        LEFT JOIN wf_process f on ni.WF_PROCESS_ID = f.id
        WHERE
            t.IS_CLOSED = 0 AND t.WF_TASK_TYPE_ID = 'TODO' <!--只通知代办-->
            AND t.STATUS = 'AP' AND pi.STATUS = 'AP' AND ni.STATUS = 'AP'
            AND t.CRT_DT >= '2023-07-20 16:00:00' <!--历史数据不再进行通知-->
            AND NOT EXISTS ( SELECT 1 FROM ad_remind_log l WHERE l.ent_code = 'WF_TASK' AND l.ENTITY_RECORD_ID = t.id and l.MESSAGE_NOTIFY_LOG_TYPE_ID = '1681918685046108160' )
            AND pi.IS_URGENT = '1'
    </select>

    <!--查询人员所有未处理代办-->
    <select id="getUserAllTaskCount" resultMap="WfProcessInstanceResult">
        SELECT
            a.userPhone as userCode,
            a.id as userId,
            COUNT( a.userPhone ) as sum
        FROM
            (
                SELECT
                    u.id,
                    pi.NAME taskName,
                    u.CODE userPhone,
                    pi.IS_URGENT
                FROM
                    wf_task t
                JOIN wf_node_instance ni ON t.WF_NODE_INSTANCE_ID = ni.id
                JOIN wf_node n ON ni.WF_NODE_ID = n.id
                JOIN wf_process_instance pi ON ni.WF_PROCESS_INSTANCE_ID = pi.id
                JOIN ad_user u ON t.AD_USER_ID = u.id
                WHERE
                    t.IS_CLOSED = 0
                    AND t.STATUS = 'AP'
                    AND ni.STATUS = 'AP'
                    AND n.STATUS = 'AP'
                    AND pi.STATUS = 'AP'
                    AND NOT EXISTS ( SELECT 1 FROM ad_remind_log l WHERE l.ent_code = 'WF_TASK' AND l.ENTITY_RECORD_ID = u.id )
                    AND t.`WF_TASK_TYPE_ID` = 'TODO'
                    AND u.STATUS = 'AP'
            ) a
        GROUP BY
            userPhone,
            userId
    </select>
</mapper>
