<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cisdi.pms.job.mapper.process.WfProcessInstanceMapper">
    <resultMap id="WfProcessInstanceResultMap" type="com.cisdi.pms.job.domain.process.WfProcessInstance">
        <id property="id" column="id" />
        <result property="wfProcessInstanceId" column="wfProcessInstanceId" />
        <result property="wfProcessInstanceName" column="wfProcessInstanceName" />
        <result property="startUserId" column="startUserId" />
        <result property="startUserName" column="startUserName" />
        <result property="startDate" column="startDate" />
        <result property="startDateMin" column="startDateMin" />
        <result property="startDateMax" column="startDateMax" />
        <result property="endDate" column="endDate" />
        <result property="endDateMin" column="endDateMin" />
        <result property="endDateMax" column="endDateMax" />
        <result property="wfProcessId" column="wfProcessId" />
        <result property="processName" column="processName" />
        <result property="adEntId" column="adEntId" />
        <result property="adEntCode" column="adEntCode" />
        <result property="entityRecordId" column="entityRecordId" />
        <result property="urgent" column="urgent" />
        <result property="wfNodeInstanceId" column="wfNodeInstanceId" />
        <result property="wfNodeInstanceName" column="wfNodeInstanceName" />
        <result property="wfNodeId" column="wfNodeId" />
        <result property="wfNodeName" column="wfNodeName" />
        <result property="currentTodoUserIds" column="currentTodoUserIds" />
        <result property="currentToDoUserNames" column="currentToDoUserNames" />
        <result property="currentViewId" column="currentViewId" />
        <result property="actId" column="actId" />
        <result property="wfFlowId" column="wfFlowId" />
        <result property="seqNo" column="seqNo" />
        <result property="isCurrentRound" column="isCurrentRound" />
        <result property="isCurrent" column="isCurrent" />
        <result property="taskId" column="taskId" />
        <result property="adUserId" column="adUserId" />
        <result property="adUserName" column="adUserName" />
        <result property="receiveDate" column="receiveDate" />
        <result property="actDate" column="actDate" />
        <result property="viewDate" column="viewDate" />
        <result property="isClosed" column="isClosed" />
        <result property="wfTaskTypeId" column="wfTaskTypeId" />
        <result property="isFirstTask" column="isFirstTask" />
        <result property="ver" column="ver" />
        <result property="ts" column="ts" />
        <result property="createBy" column="createBy" />
        <result property="createDate" column="createDate" />
        <result property="lastUpdateBy" column="lastUpdateBy" />
        <result property="lastUpdateDate" column="lastUpdateDate" />
        <result property="status" column="status" />
        <result property="code" column="code" />
        <result property="instanceNums" column="instanceNums" />
        <result property="deptId" column="deptId" />
        <result property="deptName" column="deptName" />
        <result property="checkUserId" column="checkUserId" />
        <result property="checkUserName" column="checkUserName" />
        <result property="checkDate" column="checkDate" />
        <result property="checkDateMin" column="checkDateMin" />
        <result property="checkDateMax" column="checkDateMax" />
    </resultMap>

    <!--查询上线以来所有发起的流程数量-->
    <select id="queryAllInstanceNums" resultType="int">
        select
            count(*)
        from
            wf_process_instance
        where
            status = 'ap'
            and crt_dt >= '2022-11-22 00:00:00'
            and START_USER_ID != '0099250247095871681'
            and 0 = locate('历史数据导入',name)
    </select>

    <!--查询时间范围内新增流程数量-->
    <select id="queryTimeFrameNewInstanceNums" resultMap="WfProcessInstanceResultMap">
        select
            a.WF_PROCESS_ID as wfProcessId,
            (select name from wf_process where id = a.WF_PROCESS_ID) as processName,
            count(*) as instanceNums
        from
            wf_process_instance a
        where
            a.status = 'ap'
          and a.crt_dt >= '2022-11-22 00:00:00'
          and a.START_USER_ID != '0099250247095871681'
          and 0 = locate('历史数据导入',a.name)
            and a.crt_dt >= #{startDate}
            <![CDATA[ and a.crt_dt <= #{endDate} ]]>
        GROUP BY a.WF_PROCESS_ID
        order by a.WF_PROCESS_ID asc
    </select>

    <!--获取分管领导时间范围内审批次数-->
    <select id="queryChargeUserCheckNums" resultMap="WfProcessInstanceResultMap">
        select
            a.ad_user_id,
            (select name from ad_user where id = a.AD_USER_ID) as adUserName,
            ifnull(count(*),0) as instanceNums
        from
            wf_task a
        where
            a.status = 'ap'
            and a.WF_TASK_TYPE_ID = 'TODO'
            and a.ACT_DATETIME >= #{startDate}
            <![CDATA[ and a.ACT_DATETIME >= #{endDate} ]]>
            and a.ad_user_id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
        GROUP BY a.ad_user_id
        order by a.ad_user_id asc
    </select>

    <!--查询所有符合条件数据-->
    <select id="queryAllList" resultMap="WfProcessInstanceResultMap">
        SELECT
            a.id AS wfProcessInstanceId,
            a.NAME AS wfProcessInstanceName,
            c.NAME AS startUserName,
            a.START_DATETIME AS startDate,
            a.END_DATETIME AS endDate,
            ifnull( a.IS_URGENT, 0 ) AS urgent,
            a.CURRENT_NODE_ID AS wfNodeId,
            a.CURRENT_NI_ID AS wfNodeInstanceId,
            a.CURRENT_TODO_USER_IDS AS currentTodoUserIds,
            b.NAME AS processName,
            d.NAME AS wfNodeInstanceName,
            e.NAME AS wfNodeName,
            a.wf_process_id AS wfProcessId,
            a.CURRENT_VIEW_ID AS currentViewId,
            b.EXTRA_INFO AS icon,
            a.ENTITY_RECORD_ID AS entityRecordId
        FROM
            wf_process_instance a
        LEFT JOIN wf_process b ON a.WF_PROCESS_ID = b.id
        LEFT JOIN ad_user c ON a.START_USER_ID = c.id
        LEFT JOIN WF_NODE_INSTANCE d ON a.CURRENT_NI_ID = d.id
        LEFT JOIN wf_node e ON d.wf_node_id = e.id
        WHERE
            a.STATUS = 'ap'
        <if test="wfProcessInstanceName != null and wfProcessInstanceName != ''">
            and a.name like concat('%',#{wfProcessInstanceName},'%')
        </if>
        <if test="startUserId != null and startUserId != ''">
            and a.START_USER_ID = #{startUserId}
        </if>
        <if test="startDateMin != null and startDateMin != ''">
            and a.START_DATETIME >= #{startDateMin}
        </if>
        <if test="startDateMax != null and startDateMax != ''">
            <![CDATA[ and a.START_DATETIME <= #{startDateMax} ]]>
        </if>
        <if test="currentTodoUserIds != null and currentTodoUserIds != ''">
            and find_in_set(#{currentTodoUserIds},a.CURRENT_TODO_USER_IDS)
        </if>
        <if test="checkUserIdList != null and checkUserIdList.size() > 0">
            and a.id in (
            select distinct wf_process_instance_id from wf_task
            where status = 'ap' and wf_task_type_id = 'TODO'
            AND ACT_DATETIME is not null and ad_user_id in
            <foreach collection="checkUserIdList" separator="," open="(" close=")" item="item" index="index">
                #{item}
            </foreach>
            )
        </if>
        <if test="checkDateMin != null and checkDateMin != ''">
            and a.id in (select distinct wf_process_instance_id from wf_task
            where status = 'ap' and wf_task_type_id = 'TODO'
            and ACT_DATETIME >= #{checkDateMin}
            )
        </if>
        <if test="checkDateMax != null and checkDateMax != ''">
            <![CDATA[
            and a.id in (select distinct wf_process_instance_id from wf_task
            where status = 'ap' and wf_task_type_id = 'TODO'
            and ACT_DATETIME <= #{checkDateMax}
            )
            ]]>
        </if>
    </select>

    <!--新增-->
    <insert id="insert">
        insert into wf_process_instance (
            ID,
            NAME,
            VER,
            START_USER_ID,
            START_DATETIME,
            WF_PROCESS_ID,
            END_DATETIME,
            STATUS,
            CRT_DT,
            CRT_USER_ID,
            LAST_MODI_DT,
            LAST_MODI_USER_ID,
            AD_ENT_ID,
            ENT_CODE,
            ENTITY_RECORD_ID,
            TS,
            IS_URGENT,
            CURRENT_NODE_ID,
            CURRENT_NI_ID,
            CURRENT_TODO_USER_IDS,
            CURRENT_VIEW_ID
        ) values (
            #{id},
            #{wfProcessInstanceName},
            #{ver},
            #{startUserId},
            #{startDate},
            #{wfProcessId},
            #{endDate},
            #{status},
            #{createDate},
            #{createBy},
            #{lastUpdateDate},
            #{lastUpdateBy},
            #{adEntId},
            #{adEntCode},
            #{entityRecordId},
            #{ts},
            #{urgent},
            #{wfNodeId},
            #{wfNodeInstanceId},
            #{adUserId},
            #{currentViewId}
        )
    </insert>

    <!--新增节点实例-->
    <insert id="insertNodeInstance">
        insert into WF_NODE_INSTANCE (
            ID,
            NAME,
            VER,
            WF_PROCESS_INSTANCE_ID,
            WF_NODE_ID,
            START_DATETIME,
            END_DATETIME,
            EFFECTIVE_ACT_ID,
            FROM_FLOW_ID,
            SEQ_NO,
            STATUS,
            CRT_DT,
            CRT_USER_ID,
            LAST_MODI_DT,
            LAST_MODI_USER_ID,
            IN_CURRENT_ROUND,
            TS,
            IS_CURRENT,
            WF_PROCESS_ID
        ) values (
            #{id},
            #{wfNodeInstanceName},
            #{ver},
            #{wfProcessInstanceId},
            #{wfNodeId},
            #{startDate},
            #{endDate},
            #{actId},
            #{wfFlowId},
            #{seqNo},
            #{status},
            #{createDate},
            #{createBy},
            #{lastUpdateDate},
            #{lastUpdateBy},
            #{isCurrentRound},
            #{ts},
            #{isCurrent},
            #{wfProcessId}
        )
    </insert>

    <!--新增用户流程代办任务-->
    <insert id="insertUserTask">
        insert into WF_TASK (
            ID,
            VER,
            WF_NODE_INSTANCE_ID,
            AD_USER_ID,
            RECEIVE_DATETIME,
            ACT_DATETIME,
            VIEW_DATETIME,
            AD_ACT_ID,
            IS_CLOSED,
            STATUS,
            CRT_DT,
            CRT_USER_ID,
            LAST_MODI_DT,
            LAST_MODI_USER_ID,
            WF_TASK_TYPE_ID,
            SEQ_NO,
            IN_CURRENT_ROUND,
            TS,
            WF_PROCESS_ID,
            WF_PROCESS_INSTANCE_ID,
            WF_NODE_ID,
            IS_PROC_INST_FIRST_TODO_TASK
        ) values (
            #{id},
            #{ver},
            #{wfNodeInstanceId},
            #{adUserId},
            #{receiveDate},
            #{actDate},
            #{viewDate},
            #{actId},
            #{isClosed},
            #{status},
            #{createDate},
            #{createBy},
            #{lastUpdateDate},
            #{lastUpdateBy},
            #{wfTaskTypeId},
            #{seqNo},
            #{isCurrentRound},
            #{ts},
            #{wfProcessId},
            #{wfProcessInstanceId},
            #{wfNodeId},
            #{isFirstTask}
        )
    </insert>

    <!--根据id动态修改数据-->
    <update id="updateProcessInstanceById">
        update
            wf_process_instance
        <set>
            <if test="wfProcessInstanceName != null and wfProcessInstanceName != ''">
                NAME = #{wfProcessInstanceName},
            </if>
            <if test="ver != null">
                VER = #{ver},
            </if>
            <if test="startUserId != null and startUserId != ''">
                START_USER_ID = #{startUserId},
            </if>
            <if test="startDate != null and startDate != ''">
                START_DATETIME = #{startDate},
            </if>
            <if test="wfProcessId != null and wfProcessId != ''">
                WF_PROCESS_ID = #{wfProcessId},
            </if>
            <if test="endDate != null and endDate != ''">
                END_DATETIME = #{endDate},
            </if>
            <if test="status != null and status != ''">
                STATUS = #{status},
            </if>
            <if test="createDate != null and createDate != ''">
                CRT_DT = #{createDate},
            </if>
            <if test="createBy != null and createBy != ''">
                CRT_USER_ID = #{createBy},
            </if>
            <if test="lastUpdateDate != null and lastUpdateDate != ''">
                LAST_MODI_DT = #{lastUpdateDate},
            </if>
            <if test="lastUpdateBy != null and lastUpdateBy != ''">
                LAST_MODI_USER_ID = #{lastUpdateBy},
            </if>
            <if test="adEntId != null and adEntId != ''">
                AD_ENT_ID = #{adEntId},
            </if>
            <if test="adEntCode != null and adEntCode != ''">
                ENT_CODE = #{adEntCode},
            </if>
            <if test="entityRecordId != null and entityRecordId != ''">
                ENTITY_RECORD_ID = #{entityRecordId},
            </if>
            <if test="ts != null and ts != ''">
                TS = #{ts},
            </if>
            <if test="urgent != null">
                IS_URGENT = #{urgent},
            </if>
            <if test="wfNodeId != null and wfNodeId != ''">
                CURRENT_NODE_ID = #{wfNodeId},
            </if>
            <if test="wfNodeInstanceId != null and wfNodeInstanceId != ''">
                CURRENT_NI_ID = #{wfNodeInstanceId},
            </if>
            <if test="adUserId != null and adUserId != ''">
                CURRENT_TODO_USER_IDS = #{adUserId},
            </if>
            <if test="currentViewId != null and currentViewId != ''">
                CURRENT_VIEW_ID = #{currentViewId},
            </if>
        </set>
        where
            id = #{id}
    </update>

    <!--根据id动态修改节点实例数据-->
    <update id="updateNodeInstanceById">
        update wf_node_instance
        <set>
            <if test="wfNodeInstanceName != null and wfNodeInstanceName != ''">
                name = #{wfNodeInstanceName},
            </if>
            <if test="ver != null">
                ver = #{ver},
            </if>
            <if test="wfNodeInstanceId != null and wfNodeInstanceId != ''">
                WF_NODE_INSTANCE_ID = #{wfNodeInstanceId},
            </if>
            <if test="adUserId != null and adUserId != ''">
                AD_USER_ID = #{adUserId},
            </if>
            <if test="receiveDate != null and receiveDate != ''">
                RECEIVE_DATETIME = #{receiveDate},
            </if>
            <if test="actDate != null and actDate != ''">
                ACT_DATETIME = #{actDate},
            </if>
            <if test="viewDate != null and viewDate != ''">
                VIEW_DATETIME = #{viewDate},
            </if>
            <if test="actId != null and actId != ''">
                AD_ACT_ID = #{actId},
            </if>
            <if test="isClosed != null">
                IS_CLOSED = #{isClosed},
            </if>
            <if test="status != null and status != ''">
                STATUS = #{status},
            </if>
            <if test="createDate != null and createDate != ''">
                CRT_DT = #{createDate},
            </if>
            <if test="createBy != null and createBy != ''">
                CRT_USER_ID = #{createBy},
            </if>
            <if test="lastUpdateDate != null and lastUpdateDate != ''">
                LAST_MODI_DT = #{lastUpdateDate},
            </if>
            <if test="lastUpdateBy != null and lastUpdateBy != ''">
                LAST_MODI_USER_ID = #{lastUpdateBy},
            </if>
            <if test="wfTaskTypeId != null and wfTaskTypeId != ''">
                WF_TASK_TYPE_ID = #{wfTaskTypeId},
            </if>
            <if test="seqNo != null and seqNo != ''">
                SEQ_NO = #{seqNo},
            </if>
            <if test="isCurrentRound != null">
                IN_CURRENT_ROUND = #{isCurrentRound},
            </if>
            <if test="isCurrent != null">
                IS_CURRENT = #{isCurrent},
            </if>
            <if test="ts != null and ts != ''">
                ts = #{ts},
            </if>
            <if test="wfProcessId != null and wfProcessId != ''">
                WF_PROCESS_ID = #{wfProcessId},
            </if>
            <if test="wfProcessInstanceId != null and wfProcessInstanceId != ''">
                WF_PROCESS_INSTANCE_ID = #{wfProcessInstanceId},
            </if>
            <if test="wfNodeId != null and wfNodeId != ''">
                WF_NODE_ID = #{wfNodeId},
            </if>
            <if test="isFirstTask != null">
                IS_PROC_INST_FIRST_TODO_TASK = #{isFirstTask},
            </if>
            <if test="startDate != null and startDate != ''">
                START_DATETIME = #{startDate},
            </if>
        </set>
        where
            id = #{id}
    </update>
</mapper>
